<div class="module-info step" >
    <h2>Data e Hora</h2>

    <form [formGroup]="formGroup" [hidden]="formGroup.get('schedules')['controls'].length === 0" >
      <ng-container
        *ngFor="let childFormGroup of formGroup.get('schedules')['controls']; let i = index"
        formArrayName="schedules"
      >
        <div class="schedule" [formGroupName]="i" >
          <h3>Inscrições</h3>
          <div class="subscription two-columns" >
            <div class="column" >
              <div class="validation-field" >
                <mat-form-field>
                  <input matInput [matDatepicker]="subStartPicker"
                    formControlName="subscriptionStartDate"
                    placeholder="Data de Início"
                  >
                  <mat-datepicker-toggle matSuffix [for]="subStartPicker"></mat-datepicker-toggle>
                  <mat-datepicker #subStartPicker></mat-datepicker>
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('subscriptionStartDate')"
                ></control-messages>
              </div>
              <div class="validation-field" >
                <mat-form-field>
                  <input matInput [matDatepicker]="subEndPicker"
                    formControlName="subscriptionEndDate"
                    placeholder="Data de Término" >
                  <mat-datepicker-toggle matSuffix [for]="subEndPicker"></mat-datepicker-toggle>
                  <mat-datepicker #subEndPicker></mat-datepicker>
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('subscriptionEndDate')"
                ></control-messages>
              </div>
            </div>
            <div class="column" >
              <div class="validation-field" >
                <mat-form-field>
                  <mat-select placeholder="Status" formControlName="published" required >
                    <mat-option [value]="false" >Oculto</mat-option>
                    <mat-option [value]="true" >Publicado</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('published')"
                ></control-messages>
              </div>
              <div class="validation-field" >
                <mat-form-field>
                  <input matInput placeholder="Limite de usuários"
                    type="number"
                    formControlName="applicationLimit" />
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('applicationLimit')"
                ></control-messages>
              </div>
            </div>
          </div>

          <h3>Fórum de Discussão</h3>
          <div class="subscription" >
            <div class="column" >
              <div class="validation-field" >
                <mat-form-field>
                  <input matInput [matDatepicker]="forumStartPicker"
                    formControlName="forumStartDate"
                    placeholder="Data de Início" >
                  <mat-datepicker-toggle matSuffix [for]="forumStartPicker"></mat-datepicker-toggle>
                  <mat-datepicker #forumStartPicker></mat-datepicker>
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('forumStartDate')"
                ></control-messages>
              </div>
              <div class="validation-field" >
                <mat-form-field>
                  <input matInput [matDatepicker]="forumEndPicker"
                    formControlName="forumEndDate"
                    placeholder="Data de Término" >
                  <mat-datepicker-toggle matSuffix [for]="forumEndPicker"></mat-datepicker-toggle>
                  <mat-datepicker #forumEndPicker></mat-datepicker>
                </mat-form-field>
                <control-messages
                  [control]="childFormGroup.get('forumEndDate')"
                ></control-messages>
              </div>
            </div>
          </div>

          <h3>Evento</h3>
          <div class="event" >
            <div class="validation-field" >
              <mat-form-field>
                <input matInput [matDatepicker]="startPicker"
                  formControlName="eventDate" placeholder="Data de Início" >
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
              <control-messages
                [control]="childFormGroup.get('eventDate')"
              ></control-messages>
            </div>
            <div class="validation-field" >
              <mat-form-field>
                <input matInput placeholder="Hora (hh:mm)" required
                mask="00:00" formControlName="startHour" />
              </mat-form-field>
              <control-messages
                [control]="childFormGroup.get('startHour')"
              ></control-messages>
            </div>
            <div class="validation-field" >
              <mat-form-field>
                <input matInput placeholder="Duração Total (hh:mm:ss)" required
                  mask="00:00:00" formControlName="duration"  />
              </mat-form-field>
              <control-messages
                [control]="childFormGroup.get('duration')"
              ></control-messages>
            </div>
          </div>
          <div class="event" >
          <div class="validation-field" >
            <mat-form-field>
              <input matInput placeholder="Link para Webinar"
                formControlName="webinarUrl" />
            </mat-form-field>
            <control-messages
              [control]="childFormGroup.get('webinarUrl')"
            ></control-messages>
          </div>
          <div class="validation-field" >
            <mat-form-field>
              <mat-select placeholder="Localidade" formControlName="location" [(ngModel)]="selectedLocations[i]"  (valueChange)="changeLocation($event, i)">
                <mat-option [value]="location.id" *ngFor="let location of locations" >
                  {{ location.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <control-messages
              [control]="childFormGroup.get('location')"
            ></control-messages>
          </div>
        </div>
          <button class="btn-test primary" (click)="saveSchedule(i)" >
            Salvar
          </button>
        </div>
      </ng-container>
    </form>

    <button class="btn-test add" (click)="addSchedule()" >
      + Adicionar dia de evento
    </button>
  </div>
