.step h3 {
  margin-bottom: 15px;
  margin-top: 0;
}

form {
  .schedule {
    background: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.16);
    padding: 15px;
    margin-bottom: 15px;
  }
}

button.add {
  width: 100%;
}

div.subscription {
  div.column {
    display: flex;
    width: 60%;

    div.validation-field {
      width: 100%;
      max-width: 300px;

      &:first-child {
        margin-right: 20px;
      }
    }

    &:first-child {
      width: calc(60% - 40px);
    }
  }
}
div.event {
  display: flex;

  div.validation-field {
    flex: 1;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.subscription {
    div.column, div.column:first-child {
      flex-direction: column;
      width: 100%;
    }
  }
  div.event {
    flex-direction: column;

    div.validation-field {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
