div.badges {
  display: flex;
  align-items: center;
  margin-top: 15px;

  div.badge {
    background: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    p {
      font-weight: 600;
      font-size: 30px;
      color: #707070;
      line-height: 20px;

      span {
        font-size: 13px;
      }
      &.not {
        span {
          color: #64cddb;
        }
      }
      &.beginner {
        span {
          color: #9afa00;
        }
      }
      &.intermediate {
        span {
          color: #0369db;
        }
      }
      &.advanced {
        span {
          color: #6f5eed;
        }
      }
      &.expert {
        span {
          color: #414141;
        }
      }
    }
    img {
      width: 45px;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  div.badges {
    display: block
}

  div.badges div.badge {
    margin-top: 8px;
    
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}
