.inner-content {
  color: var(--alt-text-color);

  h2 {
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
  }
  p.title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px 5px 0px;
  }
  p.description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  div.status {
    display: flex;

    p {
      font-size: 16px;
      margin-right: 60px;
      line-height: 26px;
      flex: 1;

      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
    img {
      width: 60%;
    }
    div {
      flex: 3;
    }
  }

  div.start-actions {
    display: flex;
    margin-top: 20px;

    button {
      border-radius: 10px;
      width: 49%;
      padding: 15px;
      font-size: 16px;

      &.start {
        background: var(--primary-color);
        color: white;
        margin-right: 1%;
      }
      &.later {
        margin-left: 1%;
      }
    }
  }
}
