<h1>
  {{ newTrack && newTrack.title ? newTrack.title : 'NOVA TRILHA' }}
</h1>
<div class="new-track inner-content" >
  <mat-horizontal-stepper #stepper
    [ngClass]="{ 'no-action': !allowEditing }"
    (selectionChange)="stepChanged($event, false)"
  >
    <mat-step>
      <ng-template matStepLabel>
        Informações
      </ng-template>
      <app-new-track-track-info
        #trackInfo
        [track]="newTrack"
        (setTrackInfo)="setTrackInfo($event)"
      ></app-new-track-track-info>
    </mat-step>

    <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Vídeos
      </ng-template>
      <app-new-track-video
        #trackVideo
        [track]="newTrack"
        [isCourse]="!newTrack.published"
        (setTrackVideo)="setTrackVideo($event)"
      ></app-new-track-video>
    </mat-step>

    <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Módulos e Eventos
      </ng-template>
      <app-new-track-modules-events
        #modulesEvents
        [track]="newTrack"
        (addModulesAndEvents)="addModulesAndEvents($event)"
      ></app-new-track-modules-events>
    </mat-step>

    <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Peso Itens
      </ng-template>
      <app-new-track-modules-weight
        #modulesEventsWeight
        [track]="newTrack"
        (addModulesAndEvents)="addModulesAndEvents($event)"
      ></app-new-track-modules-weight>
    </mat-step>

    <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Liberação Itens
      </ng-template>
      <app-new-track-modules-dates
        #modulesEventsAvailability
        [track]="newTrack"
        (addModulesAndEvents)="addModulesAndEvents($event)"
      ></app-new-track-modules-dates>
    </mat-step>

    <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Datas Relevantes
      </ng-template>
      <app-new-track-relevant-dates
        #relevantDates
        [track]="newTrack"
        (manageRelevantDates)="manageRelevantDates($event)"
      ></app-new-track-relevant-dates>
    </mat-step>

    <!-- <mat-step [completed]="allowEditing" >
      <ng-template matStepLabel>
        Notas Módulos
      </ng-template>
      <app-new-track-modules-grades
      #modulesGradesWeight
      [track]="newTrack"
      (addModulesGradesWeight)="addModulesGradesWeight($event)"
      ></app-new-track-modules-grades>
    </mat-step> -->

    <mat-step [completed]="allowEditing" *ngIf="hasEcommerceIntegration" >
      <ng-template matStepLabel>
        E-commerce
      </ng-template>
      <app-new-track-ecommerce
        #ecommerce
        [track]="newTrack"
        (manageEcommerceInfo)="manageEcommerceInfo($event)"
      ></app-new-track-ecommerce>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="footer" >
    <button class="previous" type="button" mat-button
      [hidden]="stepIndex === 0" (click)="previousStep()" >
      voltar
    </button>
    <button class="save" type="button" mat-button
      (click)="saveContent()">
      Salvar {{ (!hasEcommerceIntegration && stepIndex === lastStep - 1) || stepIndex === lastStep ? 'e Finalizar' : '' }}
    </button>
    <button class="next" type="button" mat-button
      [disabled]="loading"
      [hidden]="(!hasEcommerceIntegration && stepIndex === lastStep - 1) || stepIndex === lastStep" (click)="nextStep()" >
      continuar e salvar
    </button>
  </div>
</div>
