<div class="step" >
  <h2>Data Liberação Itens</h2>
  <p class="subtitle" >
    Defina a data de liberação de cada item da trilha.
  </p><br>

  <table mat-table matSort [dataSource]="trackModulesEvents" >
    
    <ng-container matColumnDef="content">
      <th width="40%" mat-header-cell *matHeaderCellDef> Conteúdo </th>
      <td width="40%" mat-cell *matCellDef="let row">
          <p>
            {{ row.title }}<br>
            <span>{{ row.isEvent ? 'EVENTO PRESENCIAL' : 'MÓDULO ONLINE' }}</span>
          </p>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="empty">
      <th width="20%" mat-header-cell *matHeaderCellDef>  </th>
      <td width="20%" mat-cell *matCellDef="let row">
          <div class="choice-box">
              <div class="answer" (click)="selectProfessionalExperience(row) " >
                <div class="checkbox"
                  [ngClass]="{ 'selected': row.alwaysAvailable }"
                ></div>
              </div>
              <p>sempre disponível</p>
          </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="moduleOpening">
      <th width="10%" mat-header-cell *matHeaderCellDef class="text-center"> Início da Disponibilidade </th>
      <td width="10%" mat-cell *matCellDef="let row" class="text-center">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Escolha a data" 
            [(ngModel)]="row.openDate" [disabled]="row.alwaysAvailable">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th width="10%" mat-header-cell *matHeaderCellDef class="text-center"> Data de corte BDQ </th>
      <td width="10%" mat-cell *matCellDef="let row" class="text-center">
        <mat-form-field *ngIf="!row.isEvent">
          <input matInput [matDatepicker]="picker" placeholder="Data (dd/mm/aaaa)"
          [(ngModel)]="row.cutOffDate" (ngModel)="checkDate()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="evaluation">
      <th width="10%" mat-header-cell *matHeaderCellDef class="text-center"> Fim da Disponibilidade </th>
      <td width="10%" mat-cell *matCellDef="let row" class="text-center">
        <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escolha a data" 
          [(ngModel)]="row.valuationDate" [disabled]="row.alwaysAvailable">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
   
</div>
