nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;

    img {
      margin-right: 4px;
    }
  }
  h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 22px;
  }
}