<div class="inner-content" >
  <nav>
    <a href="javascript:history.back()" >
      <i class="logo icon-seta_direita" style="font-size: 26px;"></i>
      Voltar
    </a>
    <h2>GERENCIAR INSCRIÇÕES</h2>
    <button class="btn-test" (click)="exportAnswers()"> Exportar respostas</button>
  </nav>

  <app-settings-applications-header
  [eventTitle]="eventInfo.eventTitle"
  [eventDate]="eventInfo.eventDate"
  [scheduleStartDate]="eventInfo.scheduleStartDate"
  [scheduleEndDate]="eventInfo.scheduleEndDate"
  [percentage]="eventInfo.percentage"
  ></app-settings-applications-header>

  <app-settings-applications-table
    [applications]="pendingApplications"
    (approveApplication)="approveUser($event)"
    (denyApplication)="denyUser($event)"
  ></app-settings-applications-table>

  <app-settings-applications-table
    header="INSCRITOS"
    dateLabel="Aprovado Em"
    [applications]="approvedApplications"
    (approveApplication)="approveUser($event)"
    (denyApplication)="denyUser($event)"
  ></app-settings-applications-table>

  <app-settings-applications-table
    header="RECUSADOS"
    dateLabel="Recusado Em"
    [applications]="deniedApplications"
    (approveApplication)="approveUser($event)"
    (denyApplication)="denyUser($event)"
  ></app-settings-applications-table>
</div>
