.concepts {
  p {
    margin: 10px;
    font-size: 15px;
    font-style: italic;
  }

  div.tags {
    div.concept {
      background: white;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 6px;
      padding: 10px;
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      &.selected {
        background: var(--primary-color);
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .concepts {
    div.tags {
      flex-direction: column;

      div.concept {
        justify-content: space-between;
      }
    }
  }
}
