.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

table {
  width: 100%;

  td {
    color: var(--text-color);
  }
}

span.name {
  position: relative;
  bottom: 9px;
  left: 16px;
}
  
img {
  &.logo, &.grade {
    width: 32px;
    border-radius: 50%;
  }
  &.grade {
    cursor: pointer;
  }
  &.icon {
    width: 20px;
    cursor: pointer;

    &.view {
      width: 25px;
    }
  }
  &.border-right {
    border-right: 1px solid #c3c3c3;
    border-radius: 0;
    padding-right: 12px;
    margin-right: 12px;
  }
}