#Content {
  min-height: calc(100vh - 60px);
  margin-top: 120px;
}

#SideMenuContainer {
  width: 325px;
  height: 100%;
  background: var(--third-primary-color);
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f537b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f537b; 
}
