#Header {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 9;
  width: 100%;

  div.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    .loader {
      position: fixed;
      top: 0;
      z-index: 5;
      left: 0;
    }

    div {
      display: flex;
      align-items: center;
    }

    img.logo {
      margin-left: 30px;
    }

    .burguer-menu {
      color: var(--primary-color);
      font-size: 23px;
    }

    .user-info {
      position: relative;

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 10px;

        &.notification {
          width: 20px;
          height: 22px;
          border-radius: 0;
          cursor: pointer;
          border-right: 1px solid #707070;
          padding-right: 12px;
          margin-right: 12px;
        }
        &.read {
          width: 14px;
          height: 15px;
        }
      }
      p {
        a:first-child {
          color: var(--primary-color);
          margin: 0;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          text-decoration: none;
        }
        a.logout {
          color: var(--danger-color);
          text-decoration: underline;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
        }
        a.impersonate-logout {
          color: var(--danger-color);
          text-decoration: underline;
          font-size: 12px;
          font-weight: 500;
          margin-left: 20px;
          cursor: pointer;
        }
      }
      div.notifications {
        background: #f7f7f7;
        position: absolute;
        top: 51px;
        z-index: 5;
        width: 375px;
        right: 115px;
        display: block;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        max-height: 400px;
        overflow-y: auto;

        div.arrow-up {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #f7f7f7;
          position: absolute;
          top: -10px;
          right: 7px;
        }

        ul {
          margin: 0;

          li {
            padding: 12px;
            border-bottom: 1px solid #d8d8d8;
            display: flex;
            align-items: center;
            cursor: pointer;

            div.circle {
              width: 10px;
              max-width: 10px;
              min-width: 10px;
              height: 10px;
              max-height: 10px;
              min-height: 10px;
              background: #ff4376;
              border-radius: 50%;
              margin: 0px 25px 0px 15px;

              &.read {
                background: #9afa00;
              }
            }
            div.content {
              flex-direction: column;
              align-items: flex-start;

              p {
                font-size: 12px;
                color: #3c3c3c;
                font-weight: 300;
                line-height: 18px;

                &:last-child {
                  margin-top: 10px;

                  small {
                    font-weight: 400;
                    font-size: 9px;
                  }
                }
              }
            }
          }
        }

        div.btn {
          justify-content: center;
          padding: 12px;

          button {
            background: transparent;
            color: var(--primary-color);
          }
        }
      }
    }
  }
  div.impersonate-block {
    background-color: var(--danger-color);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    p {
      padding-top: 8px;
      color: white;
    }
    button {
      background: var(--danger-color);
      border: 1px solid white;
      color: white;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  #Header img.logo {
    margin-left: 13px;
  }
  p.user {
    margin-top: -18px;
    .user-name {
      display: none;
    }
  }

  #Header .user-info div.notifications {
    width: 290px;
    right: 15px;
    max-height: 377px;
  }
}
