<div class="answer" (click)="select()" >
  <div class="checkbox"
    [ngClass]="{
      'selected': selected,
      'right': selected && confirmed && answer.isRight,
      'wrong': selected && confirmed && !answer.isRight
    }"
  >
    <img *ngIf="selected && confirmed && !answer.isRight"
      src="./assets/img/wrong-answer.png"
    />
    <img *ngIf="selected && confirmed && answer.isRight"
      src="./assets/img/right-answer.png"
    />
  </div>
  <p class="notranslate" translate="no">{{ answer?.description }}</p>
</div>
