div.inner-content {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--primary-color);
      text-decoration: none;

      img {
        margin-right: 4px;
      }
    }
  }

  h2 {
    font-size: 21px;
    color: var(--primary-color);
    text-transform: uppercase;
  }
  h3 {
    font-size: 19px;
    color: var(--primary-color);
  }

  .content {
    display: flex;

    .main {
      flex: 7;
      margin-right: 100px;
    }
    .sidebar {
      flex: 3;

      p {
        margin-top: 20px;
        
        &.subjects-title {
          border-bottom: 1px solid #f4f4f4;
          padding-bottom: 8px;
        }
        &.last-questions {
          margin-bottom: 15px;
        }
      }

      ul.subjects {
        margin: 0;

        li {
          font-size: 12px;
          padding-bottom: 8px;
          margin: 8px 0px;
          border-bottom: 1px solid #f4f4f4;
          cursor: pointer;
        }
      }
      p.selectedSubject {
        font-size: 12px;
        background: var(--primary-color);
        color: white;
        border-radius: 20px;
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;

        img {
          width: 16px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  div.inner-content {
    div.content {
      div.main {
        margin-right: 40px;
      }
    }    
  }
}

@media only screen and (max-width: 768px) {
  div.inner-content {
    margin-bottom: 20px;
    
    div.content {
      flex-direction: column;

      div.main {
        margin-right: 0;
      }
    }    
  }
}
