div.content {
  text-align: center;

  div.inner-content {
    display: flex;
    h4 {
      font-size: 18px;
      color: var(--primary-color);
      text-transform: uppercase;
      text-align: left;
    }
    div.user-content {
      flex: 1; 
      margin-right: 2.5%;
    }
    div.text-content {
      text-align: left;
      flex: 1; 
      margin-left: 2.5%;
    }
  }
}
div.chips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &.hide {
    height: 47px;
    overflow-y: hidden;
  }
  p {
    background: var(--primary-color);
    color: white;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
    font-size: 13px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

    img {
      margin-right: 8px;
    }
    span {
      padding-left: 8px;
      margin-left: 8px;
      border-left: 1px solid white;
      font-size: 20px;
      font-weight: 500;
      transform: scale(1.2, 1);
      cursor: pointer;
    }
  }
}
img.logo {
  width: 32px;
  border-radius: 50%;
}
p.dismiss {
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
}
