h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

.header {
  display: flex;
  margin: 10px 0px 20px 0px;

  .search {
    display: flex;
    flex: 3;
    
    .logo {
      border-bottom: 1px solid var(--primary-color);
    }
    input {
      border: 0;
      border-bottom: 1px solid var(--primary-color);
      width: 100%;
      padding: 0px 0px 10px 5px;
      font-size: 16px;
      background: transparent;
    }
  }
}

p {
  text-align: center;
  margin-top: 20px;
}
table {
  width: 100%;

  tr.mat-header-row {
    height: 40px;
  }

  td {
    color: #707070;
  }

  .center-item {
    text-align: center;
  }

  .icon {
    cursor: pointer;
  }
}
