div.user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

  h4 {
    font-weight: bold;
  }
  p {
    font-weight: 500;
  }
  h4, p {
    color: #777;
    margin-bottom: 7px;
  }
}