
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-orange);
$my-app-accent:  mat-palette($mat-orange, 500, 900, A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

:root {
    --primary-color: #FDA11E;
    --alternate-primary-color: #FDA11E;
    --semi-primary-color: #ffb144;
    --card-primary-color: #040405;
    --third-primary-color:#222222;
    --divider-color: #FDA11E;
    --selected-color: #ffb144;
    --progress-bar-uncompleted: #5A5A5A;
    --progress-bar-completed:#F9AF55;
    --danger-color: #FF8D9E;
    --warn-color: #FFE08D;
    --success-color: #A8F5B4;
    --text-color: #5D5D5D;
    --alt-text-color: #dcdcdc;
    --box-shadow: 1px 2px 6px 0px #404040;
    --main-background: #040405;
    --light-color: #FDA11E;
    --header-accent: #282828;
    --footer-background: #282828;
    font-family: 'Montserrat';
  }

.mat-drawer-container {
  background-color: #222222;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: var(--primary-color);
}
.mat-form-field .mat-form-field-label{
  color: var(--primary-color);
}

div.login-container {
  form {
    mat-form-field {
      input {
        color: white;
      }
    }
  }
}

div.cal-month-view,
div.cal-week-view,
div.cal-day-view {
  background: white;
}
