.sidebar {
  background: #F5F5F5;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px rgba(180, 180, 180, 1);

  .support-material {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    h4 {
      color: #014075;
      font-size: 15px;
      margin: 0px 0px 10px 0px;
    }
    img {
      cursor: pointer;
      max-width: 32px;
      max-height: 32px;
    }
  }

  .about-instructor {
    background: #EDEDED;
    padding-bottom: 40px;

    &.no-pad {
      padding-bottom: 5px;
    }
  }
  img {
    width: 100%;
  }
  p {
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    margin: 0px 20px;

    &.instructor {
      font-size: 14px;
      color: #014075;
      line-height: 22px;
      margin: 10px 0px;

      span {
        font-weight: 500;
      }
    }
    &.tutor {
      font-size: 14px;
      color: #014075;
      line-height: 22px;
      margin-top: 10px;
      border-top: 1px solid;
      padding-top: 10px;

      span {
        font-weight: 500;
      }
    }
    &.support {
      color: #014075;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 2px solid #C3C3C3;
      margin: 15px 0px 0px 0px;
      padding-bottom: 15px;
    }
    &.forum {
      color: #014075;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 2px solid #C3C3C3;
      margin: 60px 0px 0px 0px;
      padding-bottom: 15px;
    }
    &.forum-sub {
      color: #014075;
      font-size: 18px;
      font-weight: 500;
      margin: 15px 0px 0px 0px;
      padding-bottom: 15px;
    }
  }
  .btn-test-style {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn-send {
    width: 100%; 
    margin-top: 20px;
  }

  div.chips {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    &.hide {
      height: 47px;
      overflow-y: hidden;
    }
    p {
      padding: 4px 12px 4px 12px;
      font-size: 13px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      margin-right: 10px;

      img {
        margin-right: 8px;
      }
    }
  }
  img.logo {
    width: 32px;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .sidebar {
    margin-top: 15px;
  }
}
