div.forum-last-question-card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;
 
  div.question {
    padding: 15px;

    p {
      font-size: 14px; 
    }
  }

  div.footer {
    padding: 10px;
    background: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;

    img {
      margin-right: 5px;
    }
    p {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      img {
        margin-left: 5px;
      }
    }
  }
}