div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 10px 0px;

  div.filter {
    flex: 4;
    border-bottom: 2px solid var(--primary-color);
    position: relative;
    margin-right: 10px;

    img {
      position: absolute;
      left: 0;
      top: -5px;
    }
    input {
      padding: 0px 0px 5px 35px;
    }
  }
  button {
    flex: 1;
    margin-left: 1%;
  }
}

mat-form-field {
  margin-top: 20px;
  margin-bottom: -5px;
  width: 300px;
}

div.question {
  background: #FCFCFC;
  border-radius: 6px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin: 15px 0px;
  display: flex;

  div.content {
    flex-grow: 1;
    color: #868686;

    div.info {
      display: flex;

      p {
        margin-right: 20px;
        margin-top: 10px;

        &.number {
          color: var(--primary-color);
        }
      }
    }
    p.question {
      margin-top: 15px;
    }
  }
  div.edit {
    border-left: 1px solid #D3D3D3;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.header {
    flex-direction: column;

    div.filter {
      width: 95%;
      margin: 0px 0px 15px 0px;
    }
  }
}
