h1 {
  background: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

div.subheader {
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 45px;
  padding: 0px 15px;

  div.draft-title {
    background: orange;
    color: white;
    padding: 5px 14px 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 9;

    &.opened {
      border-radius: 4px 4px 0px 0px;
    }

    img {
      transform: rotate(-90deg);
      width: 10px;
      position: relative;
      top: 3px;
    }

    ul.draft-options {
      text-align: center;
      font-weight: 600;
      margin: 0;
      color: #777;
      position: absolute;
      background: white;
      width: calc(100% - 2px);
      left: 1px;
      box-shadow: 0px 1px 3px 0px rgba(180, 180, 180, 1);
      border-radius: 0px 0px 4px 4px;
      top: 34px;

      li {
        padding: 12px;

        &:not(:last-child) {
          border-bottom: 1px solid lightgray;
        }
        &:hover {
          background: #ededed;
        }
      }
    }
  }
}

div.footer {
  width: calc(100% - 40px);
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: var(--footer-background);
  padding: 20px;
  text-align: center;

  button {
    color: var(--primary-color);
    background: transparent;
    border: none;
    line-height: 34px;
    font-size: 14px;

    &.previous {
      border-right: 2px solid var(--primary-color);
      padding-right: 20px;
    }
    &.next {
      border-left: 2px solid var(--primary-color);
      padding-left: 20px;
    }
    &[disabled] {
      color: gray;
      border-color: gray;
    }
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    &.save {
      background: var(--primary-color);
      color: white;
      padding: 8px 24px;
      border-radius: 6px;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      float: initial;
      line-height: initial;
    }
  }
}
