.exam-review {
  background: #E8E8E8;
  height: 100%;
  position: relative;

  .drag-bar {
    width: 10px;
    background: var(--semi-primary-color);
    height: 100%;
    position: absolute;
    cursor: col-resize;
  }

  .back {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -40px;
    width: 80px;
    height: 90px;
    border-radius: 50%;
    background: var(--semi-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 25px;
    }
  }

  .list-container {
    padding: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .exam-review {
    margin-bottom: 20px;
    
    .drag-bar,
    .back {
      display: none;
    }
    .list-container {
      padding: 20px;
      margin-top: 10px;
    }
  }
}