::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

p {
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
  margin: 20px 0;
}