h1 {
  background: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.authLogo {

  text-align: center;
  margin: 10px;
}
  
ul.user-list {
  margin: -10px 0px 0px 0px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  position: absolute;
  z-index: 10;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  li {
    background: white;
    padding: 10px 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;

    img {
      margin: 0px 12px;
      width: 32px;
      border-radius: 50%;
    }
    span {
      margin-right: 20px;
    }

    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: #EEEEEE;
    }
  }
}

.inner-content {
  background: white;
  padding: 0px 30px;
  padding-bottom: 80px;

  .user-info {
    flex: 2;
    margin-right: 30px;
    margin-top: 20px;

    h2 {
      color: var(--primary-color);
      font-size: 18px;
      font-weight: 500;
    }
    form {
      .mat-form-field {
        width: 100%;
      }
    }
  }
  .user-logo {
    flex: 1;
    text-align: right;
    margin-top: 100px;
    margin-right: 10px;

    img {
      background: #EFEFEF;
      width: 200px;
    }
    .img-container {
      position: relative;
      text-align: center;

      .edit-icon {
        background: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 140px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          background: transparent;
          border-radius: 0;
          width: 24px;
        }
      }
    }
  }

  div.cep-search {
    display: flex;
    button {
      border-radius: 10px; 
      max-height: 40px;
    }
  }
}
div.footer {
  background: #FCFCFC;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 768px) {
  .inner-content {
    flex-direction: column;

    .user-logo {
      margin: 0 auto;
    }
  }
}
