div.students {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

  .buttonSearch{
    background: #c16cff;
    color: white;
    border: none;
    margin: 10px;
  }
  p.title {
    color: #707070;
    font-weight: 700;
    background: #f7f7f7;
    padding: 15px;
    font-size: 14px;
    text-align: left;

    span {
      color: #c16cff;
      font-size: 45px;
      font-weight: 300;
    }

  }
  .title-late {
    color: #ff4376;
    font-size: 10px;
    font-weight: normal;
    float: right;
  }
  .title-total {
    color: var(--primary-color);
    font-size: 10px;
    font-weight: normal;
    float: right;
    margin-left: 10px;
  }
  .search {
    flex: 1;
    position: relative;
    background: #f7f7f7;

    img {
      position: absolute;
      left: 10px;
      top: 0px;
      width: 16px;
      height: 16px;
    }
    input {
      border: 0;
      border-bottom: 2px solid var(--primary-color);
      width: calc(100% - 40px);
      padding: 0px 0px 0px 20px;
      margin: 0px 10px;
      margin-bottom: 10px;
      font-size: 14px;
      background: transparent;
    }
  }
  p.no-students {
    padding-top: 10px;
    text-align: inherit;

    button {
      background: #c16cff;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  ul {
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      margin: 0px 15px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #dedede;
      }

      img.photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
      }
      p.item-title {
        color: #727272;
        font-size: 12px;
        text-transform: uppercase;
      }
      p.top-performer-point{
        margin-left: 15px;
        font-size: 14px;
        color: #06e295;
      }
      p.bottom-performer-point{
        margin-left: 15px;
        font-size: 14px;
        color: #ff4376;
      }
      div.late {
        width: 120px;
        color: #ff4376;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 12px;

        img {
          &.warn {
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 15px;
          }
        }
      }
    }
  }
  div.action {
    text-align: center;
    padding: 10px;
    
    button {
      background: transparent;
      color: #24bcd1;
      border: none;
    }
  }
}
.cursor-pointer {
  cursor: pointer;
}