<div id="Module" >
  <div class="inner-content" >
    <nav>
      <a href="javascript:history.back()" >
        <i class="logo icon-seta_direita" style="font-size: 26px;"></i>
        Voltar
      </a>
      <h2>{{ module?.title }}</h2>
      <div class="buttons">
        <button class="btn-test" (click)="goToPageStoreUrl()">Saiba Mais</button>
        <button class="btn-test"
          *ngIf="module?.ecommerceUrl"
          (click)="goToPageEcommerceUrl()"
          >Cadastrar
        </button>
      </div>
    </nav>

    <app-module-header
      [module]="module"
      [moduleProgress]="userProgress"
      [levels]="levelDict"
      [levelList]="levels"
      [disableGrade]="disableGrade()" 
    ></app-module-header>

    <div class="content" >
      <div class="main" >

        <div id="videoContent" style="width: 100%; visibility: hidden;" ></div>

        <ng-container *ngIf="module && module.videoUrl && module.videoUrl !== ''" >
          <p class="title" >
            <span>Introdução ao módulo</span>
            <small>{{ getVideoDurationFormatted() }} minuto(s)</small>
          </p>
        </ng-container>
        
        <div class="tests" *ngIf="moduleTestsBefore.length > 0">
          <div class="header">
            <p>
              Avaliação preliminar diagnóstica
            </p>
          </div>
          <div class="test-content" *ngIf="moduleTestsBeforeExpanded" >
            <div class="level" *ngFor="let test of moduleTestsBefore">
              <p *ngIf="levels">
                {{test.title}}
              </p>
              <button class="btn-test"
                (click)="goToTest(test.id)"
                [disabled]="test.answered" >
                {{
                  test.answered ? 'Teste respondido' : 'Fazer o teste'
                }}
              </button>
            </div>
          </div>
          <div class="expand"
            (click)="moduleTestsBeforeExpanded = !moduleTestsBeforeExpanded"
            [ngClass]="{ 'moduleTestsBeforeExpanded' : moduleTestsBeforeExpanded }"
          >
            <span *ngIf=!moduleTestsBeforeExpanded><i class="icon icon-seta_bx seta"></i></span>
            <span *ngIf=moduleTestsBeforeExpanded><i class="icon icon-seta_cima seta"></i></span>
          </div>
        </div>

        <ng-container *ngIf="!lockModule">
          <div class="subjects" >
            <app-module-subject
              *ngFor="let subject of module?.subjects"
              [subject]="subject"
              [subjectProgress]="getProgressForSubject(subject.id)"
              [moduleId]="module.id"
              [levels]="levelDict"
              [hasFinishedRequirements]="checkRequirements()"
            ></app-module-subject>
          </div>

          <div class="tests" *ngIf="moduleTestsAfter.length > 0">
            <div class="header">
              <p>
                Avaliação final somativa
              </p>
            </div>
            <div class="test-content" *ngIf="moduleTestsAfterExpanded" >
              <div class="level" *ngFor="let test of moduleTestsAfter">
                <p *ngIf="levels">
                  {{test.title}}
                </p>
                <button class="btn-test"
                  (click)="goToTest(test.id)"
                  [disabled]="disablePercentButtonLogic(test.answered, 1)" >
                  {{
                    disablePercentButtonLogicText(test.answered, 1)
                  }}
                </button>
              </div>
            </div>
            <div class="expand"
              (click)="moduleTestsAfterExpanded = !moduleTestsAfterExpanded"
              [ngClass]="{ 'moduleTestsAfterExpanded' : moduleTestsAfterExpanded }"
            >
              <span *ngIf=!moduleTestsAfterExpanded><i class="icon icon-seta_bx seta"></i></span>
              <span *ngIf=moduleTestsAfterExpanded><i class="icon icon-seta_cima seta"></i></span>
            </div>
          </div>

          <div class="tests" *ngIf="moduleTestsResearch.length > 0">
              <div class="header">
                <p>
                  Pesquisas
                </p>
              </div>
              <div class="test-content" *ngIf="moduleTestsResearchExpanded">
                <div class="level" *ngFor="let test of moduleTestsResearch">
                  <p *ngIf="levels">
                    {{test.title}}
                  </p>
                  <button class="btn-test"
                    (click)="goToTest(test.id)"
                    [disabled]="disablePercentButtonLogic(test.answered, getModuleTestPercent(test))" >
                    {{
                      disablePercentButtonLogicText(test.answered, getModuleTestPercent(test))
                    }}
                  </button>
                </div>
              </div>
              <div class="expandResearch"
                (click)="moduleTestsResearchExpanded = !moduleTestsResearchExpanded"
                [ngClass]="{ 'moduleTestsResearchExpanded' : moduleTestsResearchExpanded }"
              >
                <span *ngIf=!moduleTestsResearchExpanded><i class="icon icon-seta_bx seta"></i></span>
                <span *ngIf=moduleTestsResearchExpanded><i class="icon icon-seta_cima seta"></i></span>
              </div>
            </div>
        </ng-container>

        <ng-container *ngIf="module?.requirements && module?.requirements.length > 0">
          <h3>PRÉ-REQUISITOS DESTE MÓDULO</h3>
          <app-required-module
            *ngFor="let requirement of module.requirements; let last = last"
            [requirement]="requirement"
            [levels]="levels"
            [last]="last"
          ></app-required-module>
        </ng-container>
      </div>

      <app-module-sidebar
        [module]="module"
        [moduleProgress]="userProgress"
        [levelList]="levels"
        [forumQuestionsPreview]="forumQuestionsPreview"
        (reloadForumQuestionsPreview)="loadModuleForumPreview($event)"
      ></app-module-sidebar>
    </div>
    <br>
  </div>
</div>
