h3 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

div.forum {
  width: 100%;
  margin-top: 20px;
}

div.forum-question-card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;

  p.card-type {
    font-weight: bold;
    padding: 15px 15px 0px 15px;
    font-size: 14px;
  }
 
  div.question {
    padding: 15px;
    cursor: pointer;
    .logo {
      min-height: 32px;
      min-width: 32px;
      margin-right: 16px;
    }
    p {
      font-size: 14px; 
      
      &.title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 14px;
      }
      &.user-title {
        font-weight: bold;
        margin-bottom: 10px;
      }
      img {
        width: 16px;
      }
    }
  }
}