:host() {
  position: relative;
}

.track-module-card {
  background: var(--semi-primary-color);
  padding: 12px 0px 12px 40px;
  display: flex;

  &.darker {
    background: #64CDDB;
  }

  .content {
    background: #FCFCFC;
    padding: 15px 40px 15px 15px;
    flex-grow: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #707070;
    height: 90px;
    position: relative;

    h3, p {
      text-transform: uppercase;
    }
    h3 {
      font-weight: 400;
      margin: 0;
      font-size: 16px;
      line-height: 22px;
    }
    p {
      font-size: 14px;

      &.type {
        color: var(--primary-color);
        text-transform: initial;
        font-size: 13px;
      }
    }
    img {
      position: absolute;
      right: 10px;
      top: calc(25% + 15px);
      cursor: pointer;
    }
  }

  .arrow-right {
    position: absolute;
    right: -35px;
    top: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 72px solid transparent;
    border-bottom: 72px solid transparent;
    border-left: 35px solid var(--semi-primary-color);

    &.darker {
      border-left: 35px solid #64CDDB;
    }
  }

  .previous-order {
    position: absolute;
    left: 14px;
    top: calc(50% - 9px);
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;

    &.first {
      top: 18px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .order {
    cursor: pointer;
    position: absolute;
    right: -35px;
    z-index: 3;
    top: calc(50% - 9px);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    img.previous, img.next {
      position: absolute;
      width: 6px;
      top: 4px;
      z-index: 4;
    }
    img.previous {
      left: -11px;
    }
    img.next {
      right: 11px;
      transform: rotate(180deg);
    }

    .mat-select {
      width: 30px;

      /deep/.mat-select-value {
        color: white;
        font-family: 'Montserrat';
      }
      /deep/.mat-select-arrow {
        color: transparent;
      }
    }
  }
}
