<div class="header">
  <div class="level">
    <p>
      Duração Total<br />
      <span>{{ getFormattedHour() }} h</span>
    </p>
    <div class="current-level">
      <p>
        Progesso:
        <span *ngIf="levels">{{ levels[moduleProgress?.level - 1] }}</span>
      </p>
      <app-progress-bar
        [completedPercentage]="moduleProgress?.progress * 100"
        [roundedBorder]="true"
        [height]="14"
      ></app-progress-bar>
    </div>
    <div>
      <p>Badges Conquistadas</p>
      <div class="badges">
        <div
          class="badge"
          [style.color]="getLevelColor(level.id, moduleProgress?.level)"
          *ngFor="let level of levelList"
        >
          <img [src]="getLevelImage(level.id, moduleProgress?.level)" />
          <span>{{ levels[level.id] }}</span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="disableGrade">
      <p class="grade" (click)="openGradeDialog()">
        Nota<br>
        <span *ngIf="module?.grade !== null" >{{ module?.grade | number: '1.1-1' }}</span>
        <span *ngIf="module?.grade === null">-</span>
      </p>
    </ng-container>
  </div>
  <div class="description">
    <p>
      {{ module?.excerpt }}
    </p>
  </div>
</div>
