.header {
  color: white;

  .level,
  .description {
    padding: 15px 30px;
  }
  .level {
    background: var(--primary-color);
    display: flex;
    border-radius: 6px 6px 0px 0px;

    .grade {
      font-weight: 500;
      font-size: 15px;
      padding: 0 8px 0 7px;
      text-align: center;
      background: #FAFAFA;
      border-radius: 5px;
      color: gray;
    
      span {
        font-size: 30px;
      }
    }

    p, div:not(:last-child) {
      margin-right: 30px;
    }
    p {
      font-size: 13px;

      span {
        font-size: 15px;
        font-weight: 500;
      }
    }
    p:first-child {
      flex: 1;
    }
    p:nth-child(2) {
      flex: 1;
    }
    div {
      flex: 3;
      font-size: 13px;
      font-weight: 100;

      &.current-level {
        p {
          margin-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
      }

      .badges {
        display: flex;
        justify-content: space-between;

        .badge {
          display: flex;
          align-items: center;
          margin-right: 15px;
          font-size: 11px;
          color: var(--semi-primary-color);

          img {
            width: 30px;
            height: 30px;
            margin-right: 6px;
          }
        }
      }
    }
  }
  .description {
    background: var(--semi-primary-color);
    border-radius: 0px 0px 6px 6px;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .level {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .level {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .header .level div.badges {
    .badge {
      flex-direction: column;
      margin-top: 8px;

      img {
        margin-right: 0;
      }
    }

    .subjects {
      margin-top: 10px;
    }
  }
}
