h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}
div.upper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
table {
  width: 100%;

  tr.mat-header-row {
    height: 40px;
  }

  tr.mat-row {
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }

  td {
    color: #707070;

    img {
      &.logo {
        width: 32px;
        border-radius: 50%;
      }
      &.icon {
        width: 20px;
        cursor: pointer;
      }
    }
  }
}

.btn-responsible {
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  div.upper {
    flex-direction: column;
    /deep/.mat-form-field {
      width: 100%;
    }
    button {
      margin-bottom: 20px;
    }
  }
  table {
    td, th {
      padding: 10px;

      &:first-child {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 478px) {
  table {
    td, th {
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
