div.inner-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div.block {
    flex: 1;
    text-align: right;
  }
  h2 {
    flex: 1;
  }
}

table {
  width: 100%;
}
h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}
div.upper {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 20px 0px;
}
img.icon {
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  div.upper {
    /deep/.mat-form-field {
      width: 100%;
    }
  }
  table {
    th, td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
  }
}