<div class="html-content" [ngClass]="{ 'resumed': resumedView }" >
  <div class="inner-content" >
    
    <div class="html-viewer" >
      <div class="scrollable" >
        <iframe id="ContentIframe"
          [src]="content.value | safeUrl"
          width="100%" height="100%"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>

      <!-- <div class="pagination" >
        <span>Página {{ pageNumber }} de {{ totalPages }}</span>
        <div>
          <button (click)="changePagePrevious()" [disabled]="changingPage || pageNumber <= 1" >
            Anterior
          </button>
          <button (click)="changePageNext()" [disabled]="changingPage || pageNumber === totalPages" >
            Próximo
          </button>
        </div>
      </div> -->
    </div>
<!-- 
    <div class="concepts" *ngIf="!resumedView" >
      <p>Conceitos Abordados</p>
      <ul>
        <li class="concept"
          *ngFor="let marker of markers"
          (click)="goToPage(marker.position)"
          [ngClass]="{ 'active': marker.position === pageNumber }"
        >
          {{ marker.concept }}
        </li>
      </ul>
    </div> -->
  </div>
</div>
