h3 {
  margin: 0px 0px 20px 0px;
  color: #707070;
  text-transform: uppercase;
}

.content {
  background: var(--semi-primary-color);
  border-left: 10px solid #C3C3C3;
  padding: 15px 20px;
  margin-bottom: 15px;
  cursor: pointer;

  h4 {
    color: white;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }
  p {
    color: #727272;
    font-size: 12px;
    line-height: 16px;
  }

  &.viewed {
    border-color: #06E295;
  }
}

button {
  width: 100%;
  padding: 12px 24px;
  font-weight: 400;
}
