<h1 *ngIf="!summaryForm">
  <a href="javascript:history.back()" >
    voltar
  </a>
  {{ isEditNewUser ? 'ALTERAR DADOS' : 'NOVO USUÁRIO' }}
  <span *ngIf="canUpdatePassword()" 
  style="position: absolute; left: 80%; font-size: 15px; cursor: pointer; min-width: 100px;"
  (click)="changePassword()"> 
    alterar senha
  </span>
</h1>
<div class="inner-content">

  <div class="user-info" >
    <form [formGroup]="formGroup" >
      <h2  *ngIf="!summaryForm">INFORMAÇÕES BÁSICAS</h2>
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Matrícula" formControlName="registrationId" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento"
        formControlName="dateBorn" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ID/Documento"
          formControlName="cpf" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Usuário" formControlName="userName" required />
      </mat-form-field>
      <mat-form-field *ngIf="!isEditNewUser">
        <input matInput placeholder="Senha" formControlName="password" required />
      </mat-form-field>
      <div style="width: 100%;">
          <app-list-search
          placeholder="Responsável"
          [inputValue]="responsible"
          [noPadding]="true"
          [disabled]="disableEdit || lockChangeUserInfo"
          (triggerSearch)="triggerResponsibleSearch($event)"
        ></app-list-search>
        <ul class="user-list"
          *ngIf="responsibles && responsibles.length > 0"
          (clickOutside)="resetResponsibleSearch()" >
          <li *ngFor="let responsible of responsibles"
            (click)="addResponsibleIntoForm(responsible)" >
            <span>{{ responsible.name }}</span>
          </li>
        </ul>
      </div>
      <mat-form-field>
        <input matInput placeholder="Mini Bio" formControlName="info" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="LinkedIn" formControlName="linkedIn" />
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="specialNeeds" placeholder="Portador de deficiência"
          (selectionChange)="changeSpecialNeeds($event.value)">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrever deficiência" formControlName="specialNeedsDescription" />
      </mat-form-field>
      <div class="cep-search">
        <mat-form-field>
          <input matInput placeholder="CEP" formControlName="zipCode" />
        </mat-form-field>
        <button class="btn-test" type="button" (click)="searchCep()" [disabled]="lockChangeUserInfo">
          Pesquisar
        </button>
      </div>
      <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="city" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estado" formControlName="state" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Rua" formControlName="street" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bairro" formControlName="district" />
      </mat-form-field>

      <h2>CONTATO</h2>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="phone" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone 2" formControlName="phone2" />
      </mat-form-field>

      <ng-container *ngIf="canSetRole()">
        <h2>FÓRUM</h2>
        <mat-form-field>
          <mat-select formControlName="forumActivities" placeholder="Receber email de atividade dos fóruns?"
            (selectionChange)="changeForumActivity($event.value)">
            <mat-option [value]="true">Sim</mat-option>
            <mat-option [value]="false">Não</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="forumEmail" required />
        </mat-form-field>
      </ng-container>

      <div *ngIf="hasRecruitment">
        <h2>DOCUMENTO</h2>
        <mat-form-field>
          <mat-select formControlName="document" placeholder="Documento">
            <mat-option [value]="1">RG</mat-option>
            <mat-option [value]="2">CNH</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nº" formControlName="documentNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Órgão emissor" formControlName="documentEmitter" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Data de emissão" formControlName="emitDate" />
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endDate" placeholder="Validade" formControlName="expirationDate" />
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="isBtg === true">
        <h2>CATEGORIA</h2>
        <mat-form-field>
          <mat-select placeholder="Business Group" formControlName="businessGroup">
            <mat-option *ngFor="let bg of businessGroups" [value]="bg.id">
              {{ bg.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Business Unit" formControlName="businessUnit">
            <mat-option *ngFor="let bu of businessUnits" [value]="bu.id">
              {{ bu.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="País" formControlName="country">
            <mat-option *ngFor="let co of countries" [value]="co.id">
              {{ co.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Front/Back Office" formControlName="office">
            <mat-option *ngFor="let fbo of frontBackOffices" [value]="fbo.id">
              {{ fbo.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Job Title" formControlName="jobTitle">
            <mat-option *ngFor="let job of jobs" [value]="job.id">
              {{ job.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Location" formControlName="location">
            <mat-option *ngFor="let loc of locations" [value]="loc.id">
              {{ loc.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Rank" formControlName="rank">
            <mat-option *ngFor="let rank of ranks" [value]="rank.id">
              {{ rank.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sector 1" formControlName="sectorOne">
            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
              {{ sector.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sector 2" formControlName="sectorTwo">
            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
              {{ sector.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sector 3" formControlName="sectorThree">
            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
              {{ sector.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sector 4" formControlName="sectorFour">
            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
              {{ sector.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Segment" formControlName="segment">
            <mat-option *ngFor="let segment of segments" [value]="segment.id">
              {{ segment.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="summaryForm" style="text-align: center;"> 
      <button class="btn-test" type="button" (click)="save()" [disabled]="!loadedCategories || !loadedUser" >
        Salvar Alterações
      </button>
    </div>
  </form>
  </div>

  <div  *ngIf="!summaryForm" class="user-logo" >
    <div class="img-container" >
      <img [src]="formGroup.get('imageUrl').value" />
      <div class="edit-icon" (click)="uploadImage(240, 240, formGroup.get('imageUrl'))">
        <img src="./assets/img/edit-white.png" />
      </div>
    </div><br>
    <mat-form-field>
      <mat-select placeholder="Perfil de Usuário"
        [(ngModel)]="userRole"
        [disabled]="!canSetRole()"  >
        <mat-option value="Student" >Usuário</mat-option>
        <mat-option value="Secretary" >Secretaria</mat-option>
        <mat-option value="HumanResources" >RH</mat-option>
        <mat-option value="Admin" >Administrador</mat-option>
        <mat-option value="Recruiter" >Recrutador</mat-option>
        <mat-option value="BusinessManager" >Empresa</mat-option>
        <mat-option value="Author" >Autor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div  *ngIf="!summaryForm" class="footer" >
  <button class="btn-test" type="button" (click)="save()" [disabled]="!loadedCategories || !loadedUser" >
    Salvar Alterações
  </button>
</div>