.inner-content {
  background: white;
  padding: 20px 20px 60px 20px;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    margin: 20px 0px;

    img {
      margin-right: 4px;
    }
  }

  div.header {
    display: flex;
    justify-content: space-between;

    .arrow-back {
      flex: 1;
    }
    .text-content {
      width: 40%;
      text-align: center;
      position: relative;

      h3 {
        color: var(--primary-color);
        font-size: 21px;
      }
    }
    .favorite {
      flex: 1;
      text-align: right;
      img {
        margin-top: 20px;
        width: 25px;
        cursor: pointer;
      }
    }
  }

  div.authorization {
    color: var(--text-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 15px 0px 25px 0px;

    div.explanation {
      padding: 20px;

      h4 {
        margin: 0px 0px 10px 0px;
      }
    }

    p.toggle,
    p.studentPermission {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    p.toggle {
      background: var(--header-accent);
    }
  }

  div.visao {
    color: var(--text-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 20px;
    margin-bottom: 30px;

    h4 {
      margin: 0px;
    }
  }

  h4.card-title {
    color: var(--primary-color);
    padding: 20px 0px 10px 0px;
    margin: 60px 0px 30px 0px;
    border-bottom: 2px solid var(--text-color);
    font-weight: bold;
    font-size: 20px;
  }

  div.content {
    display: flex;

    app-user-details-summary-recommendation {
      width: 30%;
    }
    .app-user-career-recommendation {
      width: 70%;
      button {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .inner-content {
    div.header {
      flex-direction: column;
  
      .arrow-back {
        width: 100%;
      }
      .switch-content {
        width: 100%;
      }
    }
    div.content {
      flex-direction: column;

      app-user-details-summary,
      app-user-info,
      app-user-details-progress,
      .app-user-career-recommendation,
      app-user-recommendation {
        width: 100%;
      }
    }
  }
}
