div.performance {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

  div.content {
    padding: 20px 10px;
    height: 300px;
    position: relative;
    text-align: center;

    div.totals {
      width: 40%;
      display: inline-block;
      position: absolute;
      left: 15px;

      p.points {
        padding: 8px;
        background: #f7f7f7;
        color: #24bcd1;
        font-size: 28px;
        line-height: 16px;
  
        span {
          font-size: 14px;
        }
      }
      div.count {
        background: #f7f7f7;
        color: #707070;
        padding: 8px;
        display: flex;
        align-items: center;
        margin-top: 8px;
    
        p:first-child {
          font-weight: 700;
          font-size: 28px;
          margin-right: 5px;
          width: 40px;
          text-align: center;
        }
        p:last-child {
          font-size: 14px;
          text-align: left;
          margin-left: 5px;
        }
      }
      div.legends {
        display: flex;
        flex-direction: column;

        div.legend {
          display: flex;
          color: #707070;
          font-weight: 600;
          margin-top: 10px;
          font-size: 14px;

          div.square {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-right: 10px;

            &.pink {
              background: rgba(255, 67, 118, 0.35);
            }
            &.orange {
              background: rgba(255, 166, 62, 0.35);
            }
            &.green {
              background: rgba(137, 210, 220, 0.35);
            }
          }
        }
      }
    }
    canvas {
      width: 310px!important;
      height: 310px!important;
      display: inline-block!important;
    }
  }
}