:host() {
  margin-left: 15px;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

div.graph-placeholder {
  background: #f4f4f4;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {
  :host() {
    margin-left: 0;
  }
  div.graph-placeholder {
    margin-top: 20px;
    text-align: center;
  }
}
