p.video-title {
  background: #FCFCFC;
  color: #777777;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  width: 65%;
}

.two-columns {
  display: flex;

  div {
    flex: 1;

    &:first-child {
      margin-right: 2.5%;
    }
  }
}

.videoIframe {
  width: 65%;
}

@media only screen and (max-width: 768px) {
  .videoIframe {
    width: 100%;
  }
}
