.exam-finish {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444444;

  .content {
    width: 720px;
    background: white;
    padding: 20px;
    text-align: center;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 26px;
    }
    p {
      font-size: 22px;
    }

    .progress {
      img {
        width: 85%;
        margin: 10px 0px;
      }

      .expert {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 125px;
        }
        p {
          color: #707070;
          font-weight: 600;

          span {
            color: #3C3C3C;
          }
        }
      }
    }

    button {
      border-radius: 10px;
      width: 43%;
      padding: 15px;
      font-size: 16px;

      &.continue {
        background: #239BD1;
        color: white;
        margin-right: 1%;
      }
      &.later {
        margin-left: 1%;
        background: transparent;
        border: 2px solid #239BD1;
        color: #239BD1;
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .exam-finish {
    .content {
      .actions {
        display: flex;
        flex-direction: column;

        button {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
