.inner-content {
  padding-bottom: 30px;
  margin-top: 30px;

  h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 22px;
  }
}

p.no-content {
  color: var(--primary-color);
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.visao-icon {
  cursor: pointer;
  padding: 5px;
}

.modules {
  display: flex;
  overflow-x: hidden;

  .cover {
    width: 340px;
    height: 340px;
    flex: 0 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background: var(--primary-color);
    color: white;
    position: relative;
    left: 0px;
    transition: left 0.5s;

    p {
      text-align: center;
      font-size: 36px;
      font-weight: 100;

      span {
        font-family: "Khand";
        font-size: 38px;
      }
    }
  }
}

.arrow-background {
  width: 24px;
  background: var(--primary-color);
  border-radius: 100%;
  padding: 5px 23px 4px 4px;
  font-size: 34px;
  .icon-seta_esquerda {
    color: var(--main-background);
  }
}

.slider-arrow {
  position: absolute;
  z-index: 3;
  cursor: pointer;

  &.buttonStudents {
    top: 600px;
  }

  &.buttonNotStudents {
    top: 225px;
  }

  &.back {
    transform: rotate(180deg);
    left: 15px;
  }
  &.forward {
    right: 15px;
  }
}

.path,
.all-modules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  margin: 20px 0 0;
  height: 45px;
  font-size: 22px;

  p {
    margin: 0;
    display: flex;
    align-items: center;
  }

  img {
    height: 24px;
    cursor: pointer;
  }

  .objectives {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      border-right: 1px solid white;
      margin-left: 20px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;
      border-left: 1px solid var(--primary-color);
    }
  }
}

.sub-path {
  p {
    margin: 0 0 20px;
    color: #a8a8a8;
  }
}

.profile-test {
  text-align: center;
  font-weight: 600;

  p {
    color: #404040;
  }

  button {
    margin: 15px 0px 30px 0px;
  }
}

.recommended {
  font-weight: 500;
  color: var(--primary-color);
  margin: 20px 0px 0px 0px;
  height: 45px;
  font-size: 22px;
}

.suggested {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  &.list {
    display: initial;
  }
}

@media only screen and (max-width: 1200px) {
  .slider-arrow {
    &.back {
      transform: rotate(180deg);
      left: 5px;
    }
    &.forward {
      right: 5px;
    }
  }
}

@media only screen and (max-width: 960px) {
  .suggested {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .suggested {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .arrow-background {
    background: var(--main-background);
    .icon-seta_esquerda {
      color: var(--primary-color);
    }
  }

  .modules {
    margin-top: 18px;
    overflow-x: auto;

    .bg-shadow {
      width: 235px;
      height: 235px;
    }

    .cover {
      width: 235px;
      height: 235px;

      p {
        font-size: 28px;
        span {
          font-size: 30px;
        }
      }
    }
  }
  .slider-arrow {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    display: none;

    &.buttonStudents {
      top: 575px;
    }

    &.buttonNotStudents {
      top: 155px;
    }

    &.back {
      transform: rotate(180deg);
      left: 15px;
    }
    &.forward {
      right: 15px;
    }
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .modules {
    margin-top: 18px;
  }

  .slider-arrow {
    position: absolute;
    z-index: 3;
    cursor: pointer;

    &.buttonStudents {
      top: 575px;
    }

    &.buttonNotStudents {
      top: 205px;
    }

    &.back {
      transform: rotate(180deg);
      left: 15px;
    }
    &.forward {
      right: 15px;
    }
  }
}
