<div class="inner-content" >
  <h2>MEUS CURSOS E AVALIAÇÕES</h2>
  <p class="no-content" *ngIf="!hasContent()" >
    Você ainda não está associado a nenhum Curso ou Trilha.
  </p>

  <ng-container *ngIf="tracks && tracks.length > 0" >
    <div class="path" >
      <h4>MINHAS TRILHAS</h4>
    </div>

    <div class="suggested" >
      <app-track-card
        *ngFor="let track of tracks"
        [track]="track"
        [progress]="trackProgress[track.id]"
        [showRecommended]="true"
        [showText]="true"
        [showModule]="true"
        [showEvents]="true"
        [hours]="true"
        [showContent]="true"
        [showButtonKnowMore]="true"
        [showPrice]="true"
        [showButtonSubscribe]="true"
        [redirectWhenRecommended]="true"
      ></app-track-card>
    </div>

    <app-pagination *ngIf="tracksCount"
      [setPagination]="{
        'itemsCount': tracksCount,
        'pageSize': 8
      }"
      (goToPage)="goToPageTrack($event)"
    ></app-pagination>
  </ng-container>

  <ng-container *ngIf="allModules && allModules.length > 0" >
    <div class="all-modules" >
      <h4>MEUS CURSOS</h4>
      <span (click)="changeViewType()" ><i class="icon visao-icon icon-visao_lista"></i></span>
    </div>

    <div class="suggested" [ngClass]="{ 'list': viewType === 'list' }" >
      <app-module-card
        *ngFor="let module of allModules"
        [module]="module"
        [viewType]="viewType"
        [progress]="moduleProgress[module.id]"
        [levels]="levelDict"
        [showRecommended]="true"
        [showText]="true"
        [showInstructor]="true"
        [showContent]="true"
        [hours]="true"
        [showButtonKnowMore]="true"
        [showPrice]="true"
        [showButtonSubscribe]="true"
        [redirectWhenRecommended]="true"
      ></app-module-card>
    </div>

    <app-pagination *ngIf="modulesCount"
      [setPagination]="{
        'itemsCount': modulesCount,
        'pageSize': 8
      }"
      (goToPage)="goToPage($event)"
    ></app-pagination>
  </ng-container>

  <!-- <ng-container *ngIf="events && events.length > 0" >
    <div class="flex">
      <div class="modules" >
        <div class="cover module" >
          <p>
            Eventos e<br>
            <span>Estudos de Caso</span>
          </p>
        </div>
        <app-events-card
          *ngFor="let event of events; let last = last"
          [event]="event"
          [isLast]="last"
        ></app-events-card>
      </div>
  
      <div class="arrow-background slider-arrow back"
        *ngIf="translatedValue < 0">
        <span (click)="slideLeft()" ><i class="icon-seta_esquerda"></i></span>
      </div>
  
      <div
        class="arrow-background slider-arrow forward"
        *ngIf="showSlider()">
        <span (click)="slideRight()" ><i class="icon-seta_esquerda"></i></span>
      </div>

    </div>
  </ng-container> -->

</div>
