nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;

    img {
      margin-right: 4px;
    }
  }
}
.table-img {
  text-align: center;
}
.finishedGrade {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  &.green-circle {
    cursor: pointer;
    border: 3px solid #06e295; 
    border-radius: 100px; 
    padding: 5px;
    color: #06e295;
    max-width: 32px;
    max-height: 32px;
    margin: auto;
  }
}
h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}
div.upper {
  div.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #707070;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    h3 {
      margin: 0;

      small {
        font-weight: 400;
        font-size: 14px;
      }
    }
    button {
      margin-right: 8px;
      padding: 10px;
    }
  }
  div.pending {
    background: var(--semi-primary-color);
    padding: 12px;
    color: white;
    font-size: 14px;
  }
}
table {
  width: 100%;

  tr.mat-header-row {
    height: 40px;
    background: #64cddb;

    th {
      color: white;
      font-weight: 300;
    }
  }

  td {
    color: #707070;

    img {
      &.logo, &.grade {
        width: 32px;
        border-radius: 50%;
      }
      &.grade {
        cursor: pointer;
      }
      &.icon {
        width: 20px;
        cursor: pointer;
      }
      &.border-right {
        border-right: 1px solid #c3c3c3;
        border-radius: 0;
        padding-right: 12px;
        margin-right: 12px;
      }
    }
    button {
      width: 255px;

      &.grading {
        background: #ff4376;
      }
      &.graded {
        border: 2px solid #06e295;
        background: transparent;
        color: #06e295;
      }
    }
    a {
      color: #707070;
    }

    div.rating {
      display: flex;
      justify-content: space-between;
      padding: 12px 0px;

      div.grade {
        flex-grow: 1;
        margin-right: 15px;

        p {
          background: #24bcd1;
          color: white;
          padding: 5px;
          text-align: center;
        }
        div {
          background: var(--semi-primary-color);
          height: calc(100% - 27px);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;

          input {
            border: none;
            border-radius: 5px;
            padding: 5px;
            font-size: 24px;
            font-weight: 600;
            width: 100px;
            text-align: center;
            background-color: white;
          }
        }
      }

      div.final-grade {
        background: var(--semi-primary-color);
        color: white;
        width: 255px;
        text-align: center;

        p:first-child {
          background: #239bd1;
          padding: 5px;
        }
        p:nth-child(2) {
          padding: 20px;
          font-size: 34px;
          font-weight: 600;
        }
      }
    }
  }
}

.header {
  color: white;

  .level, .description {
    padding: 15px 30px;
  }
  .level {
    background: var(--primary-color);
    display: flex;
    border-radius: 6px 6px 0px 0px;

    p, div:not(:last-child) {
      margin-right: 30px;
    }
    p {
      font-size: 13px;

      span {
        font-size: 15px;
        font-weight: 500;
      }
    }
    .hdesc {
      flex: 1;
    }
    .hdesc-info {
      flex: 1;
      margin: 0;
      span {
        margin-left: 10px;
        font-size: 10px;
        font-weight: inherit !important;
        display: inline-block;
        float: right;
      }
    }
    div {
      flex: 3;
      font-size: 13px;
      font-weight: 100;

      &.current-level {
        p {
          margin-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
      }
    }
    p.status {
      span {
        font-weight: 600;
        color: var(--warn-color);
      }
    }
  }
  .description {
    background: var(--semi-primary-color);
    border-radius: 0px 0px 6px 6px;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .level {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .level {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  div.upper {
    flex-direction: column;
    /deep/.mat-form-field {
      width: 100%;
    }
    button {
      margin-bottom: 20px;
    }
  }
  table {
    td, th {
      padding: 10px;

      &:first-child {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 478px) {
  table {
    td, th {
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }
}