<div class="inner-content" >
  <nav>
    <a href="javascript:history.back()" >
      <i class="logo icon-seta_direita" style="font-size: 26px;"></i>
      voltar
    </a>
  </nav>

  <div class="header" *ngIf="fromTrack">
    <div class="level" >
      <p class="hdesc">
        Trilha de Curso <br>
        <span>{{track.title}}</span>
      </p>
      <p class="hdesc-info">
        <span>
          Turma <br>
          {{track.studentsCount}} alunos
        </span>
        <span>
          Duração Total <br>
          {{ getFormattedHour() }} h
        </span>
      </p>
    </div>
  </div>

  <div class="upper">
    <div class="details" >
      <h3>
        {{ event?.title }}<br>
        <mat-select [(ngModel)]="scheduleId" (selectionChange)="changeScheduleId()">
          <mat-option *ngFor="let schedule of schedules" 
            [value]="schedule.id"> {{ schedule.eventDate | date : 'dd/MM/yyyy' }}
          </mat-option>
        </mat-select>
      </h3>
      <div *ngIf="!noActions">
        <ng-container *ngIf="canImportGrades()">
          <button class="btn-test" 
            (click)="generateStudentList()">
            Gerar Pauta
          </button>

          <button class="btn-test" 
            (click)="file.click()">
            Importar Notas
          </button>
          <input class="input-file" type="file" accept=".csv,.xlsx" hidden
            (change)="setDocumentFile($event.target.files)" #file/>
        </ng-container>
        <button class="btn-test"
          (click)="sendReactionValuation()"
          [disabled]="disableSendEmails()" >
          Enviar Avaliação de Reação
        </button>
        <button class="btn-test"
          (click)="finishClass()"
          [disabled]="canFinishClass()" >
          Salvar avaliação e encerrar aula
        </button>
      </div>
    </div>
    <div class="pending" >
      <p>PRESENÇA PENDENTE ({{pendingPresence}})</p>
    </div>
  </div>

  <table mat-table multiTemplateDataRows
    [dataSource]="users"
    (matSortChange)="sortData($event)"
    class="mat-elevation-z8" >

    <ng-container matColumnDef="logo">
      <th class="table-img" width="5%" mat-header-cell *matHeaderCellDef> </th>
      <td class="table-img" width="5%" mat-cell *matCellDef="let row">
        <img class="logo" [src]="row.user?.imageUrl ? row.user.imageUrl : './assets/img/user-image-placeholder.png'" />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th width="25%" mat-header-cell *matHeaderCellDef> Nome do Usuário </th>
      <td width="25%" mat-cell *matCellDef="let row">
        <ng-container *ngIf="noActions">
          <a href="javascript:;">
            {{ row.user.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="!noActions">
            <a [routerLink]="'/configuracoes/detalhes-usuario/' + row.user.id" >
              {{ row.user.name }}
            </a>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="requirements">
      <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Pré-requisitos </th>
      <td class="table-img" width="10%" mat-cell *matCellDef="let row">
        <img
          [src]="getCheckImgSrc(row.eventRequirement)"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="questions">
      <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Perguntas de Preparação </th>
      <td class="table-img" width="10%" mat-cell *matCellDef="let row">
        <img
          *ngIf="row.prepQuizAnswers && row.prepQuiz && row.prepQuiz.questions"
          [src]="getCheckImgSrc(row.prepQuizAnswers.length === row.prepQuiz.questions.length)"
        />
      </td>
    </ng-container>

    
    <ng-container matColumnDef="rated">
      <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Aluno avaliou a aula? </th>
      <td class="table-img" width="10%" mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.filledEventReaction">
          <img [src]="'./assets/img/approved.png'"/>
        </ng-container>
        <ng-container *ngIf="!row.filledEventReaction">
          <ng-container *ngIf="noActions">
            <img [src]="'./assets/img/denied.png'"/>
          </ng-container>
          <ng-container *ngIf="!noActions">
            <img
            style="cursor: pointer; max-width: 32px; max-height: 32px;"
            (click)="sendReactionValuation(row.user.id)"
            [src]="'./assets/img/email-reaction.png'"
            />
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    
    <ng-container *ngIf="!isFinished && !noActions">
      <ng-container matColumnDef="presence">
        <th class="table-img" width="15%" mat-header-cell *matHeaderCellDef> Presença </th>
        <td class="table-img" width="15%" mat-cell *matCellDef="let row">
          <img class="grade border-right"
          [src]="getPresenceImgSrc(row, false)"
          (click)="manageUserPresence(row, false)"
          />
          <img class="grade"
          [src]="getPresenceImgSrc(row, true)"
          (click)="manageUserPresence(row, true)"
          />
        </td>
      </ng-container>
    </ng-container>
    
    <ng-container *ngIf="isFinished || noActions">
      <ng-container matColumnDef="presence">
        <th class="table-img" width="15%" mat-header-cell *matHeaderCellDef> Presença </th>
        <td class="table-img" width="15%" mat-cell *matCellDef="let row">
          <img class="grade"
          [src]="getCheckImgSrc(row.userPresence)"
          />
        </td>
      </ng-container>
    </ng-container>
    
    <ng-container matColumnDef="event-date">
      <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Mudar Dia/Horário </th>
      <td class="table-img" width="10%" mat-cell *matCellDef="let row">
        <img
          style="cursor: pointer; max-width: 32px; max-height: 32px;"
          (click)="changeEventDateDialog(row.user.id)"
          [src]="'./assets/img/edit-icon.png'"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Participação Transcrita </th>
      <td class="table-img" width="10%" mat-cell *matCellDef="let row">
        <img
          style="cursor: pointer; max-width: 32px; max-height: 32px;"
          (click)="openParticipation(row)"
          [src]="'./assets/img/search.png'"
        />
      </td>
    </ng-container>

    <ng-container *ngIf="!isFinished && !noActions">
      <ng-container matColumnDef="grade">
        <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Aproveitamento </th>
        <td class="table-img" width="10%" mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.grading">
              <img
                style="cursor: pointer; max-width: 32px; max-height: 32px;"
                (click)="changeGrade(row)"
                [src]="'./assets/img/edit-enabled.png'"
              />
            </ng-container>
            <ng-container *ngIf="!row.grading && row.userPresence === false">
              <img
                style="cursor: pointer; max-width: 32px; max-height: 32px;"
                [src]="'./assets/img/edit-disabled.png'"
              />
            </ng-container>
            <ng-container *ngIf="!customGrades">
              <ng-container *ngIf="!row.grading && row.userPresence === true && row.organicGrade === null && row.inorganicGrade === null">
                <img
                  style="cursor: pointer; max-width: 32px; max-height: 32px;"
                  (click)="changeGrade(row)"
                  [src]="'./assets/img/edit-icon.png'"
                />
              </ng-container>
              <ng-container *ngIf="!row.grading && row.userPresence === true && row.organicGrade !== null && row.inorganicGrade !== null">
                <p class="finishedGrade green-circle"
                  (click)="changeGrade(row)">
                  {{ (row.organicGrade + row.inorganicGrade) / 2 | number : '1.1-1' }}
                </p>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="customGrades">
              <ng-container *ngIf="!row.grading && row.userPresence === true && hasEmptyCustomGrade(row)">
                <img
                  style="cursor: pointer; max-width: 32px; max-height: 32px;"
                  (click)="changeGrade(row)"
                  [src]="'./assets/img/edit-icon.png'"
                />
              </ng-container>
              <ng-container *ngIf="!row.grading && row.userPresence === true && !hasEmptyCustomGrade(row)">
                <p class="finishedGrade green-circle"
                  (click)="changeGrade(row)">
                  {{ sumGrades(row) | number : '1.1-1'}}
                </p>
              </ng-container>
            </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isFinished || noActions">
      <ng-container *ngIf="!customGrades">
        <ng-container matColumnDef="grade">
          <th width="10%" mat-header-cell *matHeaderCellDef> Aproveitamento </th>
          <td width="10%" mat-cell *matCellDef="let row">
            <p class="finishedGrade">{{(row.organicGrade + row.inorganicGrade) / 2 | number : '1.1-1'}}</p>
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="customGrades">
        <ng-container matColumnDef="grade">
          <th width="20%" mat-header-cell *matHeaderCellDef> Aproveitamento </th>
          <td width="20%" mat-cell *matCellDef="let row">
            <p class="finishedGrade">{{ sumGrades(row) | number : '1.1-1'}}</p>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="expandedDetail" *ngIf="!customGrades">
      <td mat-cell *matCellDef="let row"
        [attr.colspan]="displayedColumns.length" >
        <div class="rating" >
          <div class="grade" >
            <p>CONTRIBUIÇÃO ORGÂNICA</p>
            <div>
              <input matInput type="number"
                [(ngModel)]="row.organicGrade"
              />
            </div>
          </div>
          <div class="grade" >
            <p>CONTRIBUIÇÃO INORGÂNICA</p>
            <div>
              <input matInput type="number"
                [(ngModel)]="row.inorganicGrade"
              />
            </div>
          </div>
          <div class="final-grade" >
            <p>NOTA FINAL</p>
            <p *ngIf="row.organicGrade !== null && row.inorganicGrade !== null" >
              {{ (row.organicGrade + row.inorganicGrade) / 2 | number : '1.1-1'}}
            </p>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail" *ngIf="customGrades">
      <td mat-cell *matCellDef="let row"
        [attr.colspan]="displayedColumns.length" >
        <div class="rating">
          <div class="grade" *ngFor="let customEventGradeValue of row.customEventGradeValues">
            <p>{{ customEventGradeValue.key }}</p>
            <div>
              <input matInput type="number"
                [(ngModel)]="customEventGradeValue.grade"
              />
            </div>
          </div>
          <div class="final-grade" >
            <p>NOTA FINAL</p>
            <p *ngIf="!hasEmptyCustomGrade(row)" >
              {{ sumGrades(row) | number : '1.1-1'}}
            </p>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container *ngIf="!isFinished && !noActions">
      <ng-container matColumnDef="forumGrade">
        <th class="table-img" width="10%" mat-header-cell *matHeaderCellDef> Nota Fórum </th>
        <td class="table-img" width="10%" mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.forumGrading">
            <img
              style="cursor: pointer; max-width: 32px; max-height: 32px;"
              (click)="changeForumGrade(row)"
              [src]="'./assets/img/edit-enabled.png'"
            />
          </ng-container>
          <ng-container *ngIf="!row.forumGrading && row.userPresence === false">
            <img
              style="cursor: pointer; max-width: 32px; max-height: 32px;"
              [src]="'./assets/img/edit-disabled.png'"
            />
          </ng-container>
          <ng-container *ngIf="!row.forumGrading && row.userPresence === true && row.forumGrade === null">
            <img
              style="cursor: pointer; max-width: 32px; max-height: 32px;"
              (click)="changeForumGrade(row)"
              [src]="'./assets/img/edit-icon.png'"
            />
          </ng-container>
          <ng-container *ngIf="!row.forumGrading && row.userPresence === true && row.forumGrade !== null">
            <p class="finishedGrade green-circle"
              (click)="changeForumGrade(row)">
              {{row.forumGrade}}
            </p>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isFinished || noActions">
      <ng-container matColumnDef="forumGrade">
        <th width="10%" mat-header-cell *matHeaderCellDef> Nota Fórum </th>
        <td width="10%" mat-cell *matCellDef="let row">
          <p class="finishedGrade">{{row.forumGrade}}</p>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="expandedForumDetail" >
      <td mat-cell *matCellDef="let row"
        [attr.colspan]="displayedColumns.length" >
        <div class="rating" >
          <div class="grade" >
            <p>
              FÓRUM 
              <span style="cursor: pointer; margin-left: 20px; position: absolute;" 
              (click)="viewUserForumParticipation(row.userId)">
                <img style="max-height: 13px;" [src]="'./assets/img/search-white.png'"/>
                Ver participação
              </span>
            </p>
            <div>
              <input matInput type="number"
                [(ngModel)]="row.forumGrade"
              />
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
    ></tr>
    <tr mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      [hidden]="!row.grading"
      class="example-detail-row"
    ></tr>
    <tr mat-row
      *matRowDef="let row; columns: ['expandedForumDetail']"
      [hidden]="!row.forumGrading"
      class="example-detail-row"
    ></tr>
  </table>
</div>
