.list-search {
  position: relative;
  flex: 3;
  padding: 15px;

  img {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  input {
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    width: calc(100% - 42px);
    padding: 0px 0px 10px 32px;
    font-size: 16px;
    background: transparent;
  }

  &.no-padding {
    padding: 15px 0px;

    img {
      left: 0;
    }
  }

  &.white {
    ::placeholder {
      color: white;
      opacity: 1;
    }
    
    :-ms-input-placeholder {
      color: white;
    }
    
    ::-ms-input-placeholder {
      color: white;
    }
    input {
      color: white;
      border-bottom: 1px solid white;
    }
  }
  
  .icon-search{
    color: var(--primary-color);
    font-size: 20px;
    position: absolute;
  }
}
