<h3>SUA INSCRIÇÃO ESTÁ QUASE COMPLETA!</h3>
<p class="subtitle" >
  Consulte o material de apoio e responda as perguntas a seguir para completar sua inscrição.
</p>

<div class="form" >
  <div *ngFor="let question of Questions; let index = index" >
    <div class="question"  *ngIf="!question.question.fileAsAnswer">
      <p class="index" >{{ index + 1 }}.</p>
      <div class="answer" >
        <p>{{ question.question.question }}</p>
        <mat-form-field>
          <textarea matInput (change)="doSomething($event, question)" placeholder="Escreva aqui sua resposta"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="question" *ngIf="question.question.fileAsAnswer">
      <p class="index" >{{ index + 1 }}.</p>
      <div class="answer"  >
        <p>{{ question.question.question }}</p>
          <div class="upload">
            <p class="file-name" *ngIf="question.question.fileAsAnswer">
              Escolher Arquivo *
            </p>
            <a class="file-name" *ngIf="!question.question.fileAsAnswer">
              Link do downloadLink aqui 
            </a>
            <button type="button" (click)="openFileUpload(index, question)" >{{ !question.question.fileAsAnswer ? 'Editar' : 'Upload' }}</button>
            <input class="input-file" type="file" id="inputEventFile{{index}}" hidden
              (change)="setDocumentFile($event, childFormGroup)"
            />
          </div>
      </div>
    </div>
  </div>
</div>

<div class="actions" >
  <button class="outline" (click)="dismiss(null)" >
    Cancelar
  </button>
  <button class="btn-test" (click)="dismiss(questions)" >
    Salvar e Enviar Inscrição
  </button>
</div>
