:host() {
  color: #626262;
  max-height: 95vh;
  overflow-y: scroll;
}

h3 {
  color: var(--primary-color);
  margin: 0px 0px 5px 0px;
  font-size: 20px;
}
p.subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

div.form {
  div.question {
    display: flex;
    margin-bottom: 20px;

    p.index {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 500;
      margin-right: 10px;
    }
    div.answer {
      width: 100%;

      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
      mat-form-field {
        width: 100%;
      }
    }
  }
}

.upload {
  margin: 0;
  display: flex;

  p.file-name, a.file-name {
    color: #868686;
    border-bottom: 1px solid #868686;
    flex-grow: 1;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-top: 10px;
  }
  a.file-name {
    color: var(--primary-color);
  }
  button {
    background: var(--primary-color);
    color: white;
    border-radius: 6px;
    width: 160px;
    height: 35px;
  }
}

div.actions {
  display: flex;

  button {
    width: 49.5%;
    font-weight: 400;
    font-size: 14px;

    &.outline {
      background: transparent;
      color: #239bd1;
      border: 2px solid #239bd1;
      border-radius: 6px;
      margin-right: 1%;
    }
  }
}
