<div class="header" >
  <div class="level" >
    <ng-container *ngIf="isManagement" >
      <p class="hdesc">
        Edições abertas<br>
        <span>{{ event ? event.schedules.length : '0' }}</span>
      </p>
      <button class="btn-test"
        (click)="goEditEvent()" >
        Editar informações do Evento
      </button>
    </ng-container>

    <ng-container *ngIf="!isManagement" >
      <p class="hdesc">
        Data do Curso<br>
        <span>{{ currentSchedule ? (currentSchedule.eventDate | date : 'dd/MM/yyyy') : '--' }}</span>
      </p>
      <p class="hdesc">
        Horário<br>
        <span>{{ currentSchedule ? (currentSchedule.eventDate | date : 'HH:mm') : '--' }} h</span>
      </p>
      <p class="hdesc">
        Data Limite Inscrição<br>
        <span>{{ currentSchedule ? (currentSchedule.subscriptionEndDate | date : 'dd/MM/yyyy') : '--' }}</span>
      </p>
      <!-- [disabled]="disableApplication" -->
      <!-- *ngIf="!subscriptionStatus" -->
      <button class="btn-test" *ngIf="!subscriptionStatus"
        (click)="openSubscriptionDialog()">
        Aplicar-se
      </button>
      <p class="status" *ngIf="subscriptionStatus" >
        Status<br>
        <span>{{ subscriptionStatus }}</span>
      </p>
    </ng-container>
  </div>
  <div class="description" >
    <p>{{ event?.excerpt }}</p>
  </div>
</div>
