<div class="inner-content" >
  <nav>
    <a href="javascript:history.back()" >
        <i class="logo icon-seta_direita" style="font-size: 26px;"></i>
      voltar
    </a>
    <div class="buttons">
      <button class="btn-test" (click)="goToPageStoreUrl()">Saiba Mais</button>
      <button class="btn-test"
        *ngIf="track?.ecommerceUrl"
        (click)="goToPageEcommerceUrl()">Cadastrar-se
      </button>
    </div>
  </nav>

  <div class="header" >
    <h2>
      <p>Trilha do curso</p>
      {{ track?.title }}
    </h2>
    <div class="info" >
      <p>
        <span>Duração Total</span><br>
        {{ getFormattedHour() }} h
      </p>
      <p>
        <span>Turma</span><br>
        {{ track?.studentsCount }} alunos
      </p>
    </div>
  </div>
  <div class="options">
    <p>
      <ng-container *ngFor="let opt of viewOptions">
        <span
          [ngClass]="{ 'active': opt.selected }"
          (click)="selectViewOption(opt.title)">
          {{opt.title}}
        </span>
      </ng-container>
    </p>
  </div>

  <ng-container *ngIf="isStudent && track?.isStudent && isViewOption('ALUNO')" >
    <app-track-overview
      [showHeader]="false"
    ></app-track-overview>
  </ng-container>

  <ng-container *ngIf="track && isViewOption('OPERACIONAL')">
    <div class="content" >
      <app-track-overview-path
        [track]="track"
        [lateStudents]="true"
        [allowOverview]="true"
        [hasSubprogress]="true"
      ></app-track-overview-path>

      <app-track-overview-students
        [track]="track"
        [itemsCount]="track?.studentsCount"
        (goToPage)="goToPage($event)"
        (searchStudent)="searchStudent($event)"
      ></app-track-overview-students>
    </div>
  </ng-container>

  <ng-container *ngIf="track && isViewOption('GERENCIAL')">
    <app-track-overview-badges
      [progresses]="track?.studentsProgress"
      [modulesConfiguration]="track?.modulesConfiguration"
      [topPerformants]="track?.topPerformants"
    ></app-track-overview-badges>

    <div class="content" >
      <app-top-bottom-performes
        [track]="track"
        [itemsCount]="track?.studentsCount"
      ></app-top-bottom-performes>

      <app-track-overview-performance-radar
        [title]="'PERFORMANCE DA TURMA NOS MÓDULOS'"
        [track]="track"
        [labels]="getRadarLabels()"
        [titleCallback]="getRadarTitleCallback.bind(this)"
        [dataset]="getRadarDataset()"
        [tooltipCallback]="getRadarTooltipCallback.bind(this)"
        [hasTotalPoints]="false"
      ></app-track-overview-performance-radar>

      <app-track-overview-wrong-concepts
        [concepts]="track?.wrongConcepts"
      ></app-track-overview-wrong-concepts>
    </div>

    <app-track-overview-track-participation
      [trackParticipation]="trackParticipation"
    ></app-track-overview-track-participation>

  </ng-container>
</div>
