.search {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.lupa-home{
  color: var(--primary-color);
  font-size: 20px;
}

.search-fullscreen {
  background: rgba(255, 255, 255, 0.95);
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  padding: 80px;
  font-size: 120%;

  h3 {
    color: var(--primary-color);
    margin: 20px 0px 0px 0px;
  }
  p.view-all {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .close {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
  }

  div.results {
    color: #707070;

    p {
      font-size: 25px;
      padding: 15px 0px 0px 0px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: var(--primary-color);
        font-weight: 500;
      }
    }
  }
}

.input-container {
  flex-grow: 1;
  border-bottom: 2px solid var(--semi-primary-color);
  margin-right: 6px;

  .icon {
    position: absolute;
  }
  input {
    border: none;
    font-size: 16px;
    color: #707070;
    outline: none;
    margin-left: 30px;
    padding: 5px;
    width: 95%;
    font-weight: 500;
    background: transparent;
  }
  input::placeholder {
    font-size: 16px;
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 768px) {
  .search-fullscreen {
    padding: 40px;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);

    .close {
      top: 20px;
      right: 30px;
      width: 30px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .search-fullscreen {
    padding: 30px 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 60px);

    .close {
      top: 10px;
      right: 10px;
      width: 20px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .search{
    display: block;
    margin-bottom: -30px;
    margin-top: 20px;

    .input-container{
      input{
        width: 100%;
      }
    }

    button.btn-test{
      visibility: hidden;
    }
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .search{
    display: block;
    margin-bottom: -30px;
    margin-top: 20px;

    .input-container{
      input{
        width: 100%;
      }
    }

    button.btn-test{
      visibility: hidden;
    }
  }
}
