nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 10px 20px;

  a {
    flex: 1;
    align-items: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  h2 {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  .empty-block {
    flex: 1;
  }
}

div.bottom {
  background: white;
  padding: 12px 20px;
}

div.actions {
  text-align: center;

  button {
    margin: 10px 0px 5px 0px;
  }
}
