h2.toggle {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: white;
  color: var(--primary-color);
  border-bottom: 1px solid #ededed;
  margin-bottom: 0;

  span {
    font-weight: 400;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      transform: rotate(90deg);
      width: 15px;
      cursor: pointer;

      &.closed {
        transform: rotate(270deg);
      }
    }
  }
}