h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}
.search-icon{
  color: var(--primary-color);
  font-size: 20px;
  position: absolute;
}
.header {
  display: flex;
  margin: 10px 0px 20px 0px;

  .search {
    position: relative;
    flex: 3;

    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    input {
      border: 0;
      border-bottom: 1px solid var(--primary-color);
      width: calc(100% - 42px);
      padding: 0px 0px 10px 32px;
      font-size: 16px;
      background: transparent;
    }
  }
  .actions {
    flex: 1;

    button {
      width: 100%;
      margin-left: 1%;
    }
  }
}

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

@media only screen and (max-width: 768px) {
  div.header {
    flex-direction: column;

    .actions {
      margin-top: 15px;
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
        margin: 10px 0px 0px 0px;
      }
    }
  }

  div.tracks {
    display: initial;
  }
}
