h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

div.upper {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 20px 0px;
}

table {
  width: 100%;
  margin-bottom: 30px;
  
  .title-table {
    font-size: 15px;
  }
  
  .bold {
    font-weight: bold;
  }

  .content-right {
    text-align: right;
  }
  
  .btn-table {
    background: var(--primary-color);
    
    img {
      width: 17px;
      margin-right: 5px
    }
  }
  
  .btn-table-in {
    color: var(--primary-color);
    background: none;
  
    img {
      width: 17px;
      margin-right: 5px
    }
  }
}
