<div class="inner-content" >
  <h2>CURSOS E AVALIAÇÕES</h2>

  <div class="header" >
    <div class="search" >
      <i class="logo icon-lupa search-icon"></i>
      <input type="text"
        placeholder="Digite o nome do módulo"
        (keyup)="updateSearch($event.target.value)"
      />
    </div>
    <div class="actions" >
      <img *ngIf="user.role === 'Admin' || user.role === 'Rh'"
        class="btn-excel-icon"
        src="./assets/img/excel-icon.png"
        (click)="exportModules()"
      />
      <button class="btn-test" (click)="createNewModule()" >
        NOVO MÓDULO
      </button>
      <button *ngIf="user.role === 'Admin' || user.role === 'Rh'" class="btn-test btn-excel" (click)="exportModules()" >
        BAIXAR MODULOS (XLS)
      </button>
    </div>
  </div>

  <div class="modules" >
    <app-settings-module-card
      *ngFor="let module of modules"
      [module]="module"
      (editModule)="editModule($event)"
      (cloneModule)="cloneModule($event)"
      (deleteModule)="deleteModule($event)"
    ></app-settings-module-card>
  </div>

  <app-pagination *ngIf="modulesCount"
    [setPagination]="{
      'itemsCount': modulesCount,
      'pageSize': 20
    }"
    (goToPage)="goToPage($event)"
  ></app-pagination>
</div>
