#Exam {
  height: calc(100vh - 135px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4A4A4A;
  overflow-y: auto;
  user-select: none;

  .content {
    height: 100%;
    padding-top: 15px
  }

  .content.reviewing {
    display: flex;
    max-height: 522px !important;

    app-exam-question,
    app-exam-review {
      // flex: 1;
      // width: 50%;
      overflow-y: auto;
    }
    app-exam-question {
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #Exam {
    height: initial;
    margin-top: 30px;

    .content.reviewing {
      display: flex;
      flex-direction: column;

      app-exam-question,
      app-exam-review  {
        width: 100%!important;
      }
    }
  }
}
