<div id="Exam" class="inner-content" >
  <app-exam-start
    *ngIf="!currentQuestion"
    [exam]="subject"
    [userProgress]="userProgress"
    [levels]="levelDict"
    (goToNextQuestion)="startExam()"
  ></app-exam-start>

  <div class="content"
    *ngIf="currentQuestion"
    [ngClass]="{ 'reviewing': reviewingConcept }"
  >
    <app-exam-question
      #questions
      [style.width]="questionWidth + '%'"
      [subject]="subject"
      [question]="currentQuestion"
      [levels]="levelDict"
      [evalAnswer]="answerResult"
      [reviewingConcept]="reviewingConcept"
      (confirmAnswer)="confirmAnswer($event)"
      (goToNextQuestion)="goToNextQuestion()"
      (openReview)="openReview($event)"
    ></app-exam-question>

    <app-exam-review
      *ngIf="reviewingConcept"
      [style.width]="reviewWidth + '%'"
      [contents]="conceptContents"
      [concept]="reviewingConcept"
      (closeReview)="closeReview()"
      (resizeWindows)="resizeWindows($event)"
      (setFinalOffset)="setFinalOffset($event)"
    ></app-exam-review>
  </div>
</div>
<app-exam-footer
  *ngIf="currentQuestion"
  [progress]="userProgress"
  [levels]="levelDict"
  [hasAnswered]="canMoveToNextQuestion"
  [hasMoreQuestions]="userProgress?.level < 3"
  (goToNextQuestion)="goToNextQuestion()"
  (backToModule)="backToModule()"
></app-exam-footer>

<app-exam-finish
  *ngIf="examFinished"
  [levels]="levelDict"
  [achievedLevel]="userProgress?.level-1"
  (continue)="startExam()"
  (finish)="finish()"
></app-exam-finish>
