div.performance {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

  p.title {
    color: var(--primary-color);
    font-weight: 700;
    background: #f7f7f7;
    padding: 15px;
    font-size: 18px;
  }
  div.content {
    height: 530px;
    padding: 20px 10px;
    /*height: 340px;*/
    position: relative;
    text-align: center;

    div.totals {
      width: 40%;
      display: inline-block;
      position: absolute;
      top: 66px;
      left: 15px;

      p.points {
        padding: 8px;
        background: #f7f7f7;
        color: #24bcd1;
        font-size: 28px;
        line-height: 16px;
  
        span {
          font-size: 14px;
        }
      }
      div.count {
        background: #f7f7f7;
        color: #707070;
        padding: 8px;
        display: flex;
        align-items: center;
        margin-top: 8px;
    
        p:first-child {
          font-weight: 700;
          font-size: 28px;
          margin-right: 5px;
          width: 40px;
          text-align: center;
        }
        p:last-child {
          font-size: 14px;
          text-align: left;
          margin-left: 15px;
        }
      }
      div.legends {
        display: flex;
        flex-direction: column;

        div.legend {
          display: flex;
          color: #707070;
          font-weight: 600;
          margin-top: 10px;
          font-size: 14px;

          div.square {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-right: 10px;

            &.pink {
              background: rgba(255, 67, 118, 0.35);
            }
            &.orange {
              background: rgba(255, 166, 62, 0.35);
            }
            &.green {
              background: rgba(137, 210, 220, 0.35);
            }
          }
        }
      }
    }
    canvas {
      width: 341px!important;
      height: 341px!important;
      display: inline-block!important;
      margin-left: 30px;
      position: absolute;
      right: 10px;
      margin-top: 48px;

      &.no-legends {
        width: 340px!important;
        height: 340px!important;
        position: initial;
        margin-left: 0px;
      }
    }
  }
}

div.table-wrap{
  width: calc( 50% - 12px);
  float: left;
}

div.table-wrap:first-of-type{
  margin-right: 12px;
}

table {
  width: 100%;

  tr.mat-header-row {
    height: 40px;
  }
  tr {
    cursor: pointer;

    &:hover {
      background: var(--header-accent);
    }
  } 
  td {
    color: #707070;

    img.favorite-heart {
      width: 20px; 
    }
  }
}

img.logo {
  width: 32px;
  border-radius: 50%;
}

mat-expansion-panel {
  width: 100%;
}
mat-panel-title{
  width: 4%;
}
mat-panel-description{
  width: 32%;
}

.high-progress{
  background-color: #5AFF59!important;
}
.average-progress{
  background-color: #EBE759!important;  
}
.low-progress{
  background-color: #DE4337!important;
}

div.chips {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  p {
    color: black;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
    font-size: 13px;
    margin-bottom: 8px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-right: 10px;
    width: 46px;
    text-align: center;
  }
}