.step {
  .content {
    background: #FCFCFC;
    border-radius: 6px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.16);
    padding: 15px 40px 0px 15px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    position: relative;

    img.trash {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    mat-form-field {
      flex: 1;
      margin-right: 15px;

      &:first-child {
        flex: 3;
      }
    }
    button {
      flex: 1;
    }
  }

  button.add-content {
    width: 100%;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .step {
    .content {
      flex-direction: column;

      .mat-form-field {
        width: 100%;
      }
      button {
        margin-bottom: 20px;
      }
    }
  }
}
