h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}
p {
  text-align: center;
  margin-top: 20px;
}
table {
  width: 100%;

  tr.mat-header-row {
    height: 40px;
  }

  tr.mat-row {
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }

  td {
    color: #707070;
  }
}
