<div class="outer-content" >
  <nav class="inner-content">
    <a href="javascript:history.back()" >
      <i class="logo icon-seta_direita" style="font-size: 26px;"></i>
      voltar
    </a>
    <h2>Envio de emails para grupos</h2>
    <button class="btn-test" type="button"
      [disabled]="!(selectedUsers && selectedUsers.length > 0) || !formGroup.valid"
      (click)="sendMail()" >
      Enviar
    </button>
  </nav>

  <div class="content" >
    <div class="inner-content">
      <div class="user-content">
        <h4>USUÁRIOS</h4>
        <app-list-search
          placeholder="Digite o nome de um usuário para adicioná-lo"
          [noPadding]="true"
          (triggerSearch)="triggerUserSearch($event)"
        ></app-list-search>
        <ul class="user-list"
          *ngIf="users && users.length > 0"
          (clickOutside)="resetUserSearch()" >
          <li *ngFor="let user of users"
            (click)="addUser(user)" >
            <img class="logo" [src]="user.imageUrl ? user.imageUrl : './assets/img/user-image-placeholder.png'" />
            <span>{{ user.name }}</span>
          </li>
        </ul>
        <div class="chips"
          *ngIf="selectedUsers && selectedUsers.length > 0"
          [ngClass]="{ 'hide': !showAllSelectedUsers }" >
          <p *ngFor="let user of selectedUsers" >
            <img class="logo" [src]="user.imageUrl ? user.imageUrl : './assets/img/user-image-placeholder.png'" />
            {{ user.name }}
            <span (click)="removeSelectedUser(user)">X</span>
          </p>
        </div>
        <p class="view-all"
          *ngIf="selectedUsers && selectedUsers.length > 4"
          (click)="showAllSelectedUsers = !showAllSelectedUsers"
        >
          {{ showAllSelectedUsers ? 'ocultar' : 'ver todos' }} 
        </p>
      </div>
      <div class="text-content">
        <h4>EMAIL</h4>
        <p class="sub" >
          Escreva abaixo o conteudo do email. É possivel adicionar variaveis.<br>
          Para adicionar uma variável no corpo do email basta colocar entre --.<br>
          * Exemplo: "Olá --Nome--, seja bem vindo ao nosso sistema".<br><br>
          Variáveis disponíveis para substituição:<br>
          - Nome
        </p>
        <form [formGroup]="formGroup" >
          <mat-form-field>
            <input matInput required
              placeholder="Título"
              formControlName="title"
              maxlength="50"
            />
          </mat-form-field>
        </form>
        <div id="htmlEditor" ></div>
      </div>
    </div>
  </div>
</div>
