.mat-checkbox-layout { white-space: normal !important; }
.module-title{
  padding-left: 15px;
}

.subject-title {
  padding-left: 10px;
}
.contents-menu {
  background: var(--primary-color);
  color: white;
  width: 300px;
  position: fixed;
  right: 0;
  top: 59px;
  height: calc(100vh - 60px);
  font-size: 14px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 5;

  .arrow {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #64cddb;

    span {
      font-size: 16px;
      font-weight: 700;
    }

    img {
      transform: rotate(270deg);
      width: 25px;
      cursor: pointer;
    }
  }

  p.section {
    background: #64cddb;
    padding: 5px 15px;
  }

  .content-item {
    padding: 18px 0px 18px 5px;
    border-bottom: 1px solid var(--semi-primary-color);
    margin: 0px 15px;
    cursor: pointer;

    div.progress {
      display: flex;

      span {
        width: 100%;
        margin-left: 10px;
        text-align: right;
      }
    }

    .mat-checkbox{
      margin-right:7px;
    }

    .content-item:last-of-type{
      border-bottom:none;
    }

    &.active {
      height: auto;
    }
    
  }

  .module-item {
    padding: 18px 0px 18px 0px;
    border-bottom: 1px solid var(--semi-primary-color);
    height: 36px;
    overflow: hidden;
    cursor: pointer;

    div.progress {
      display: flex;

      span {
        width: 100%;
        margin-left: 10px;
        text-align: right;
      }
    }

    &.active{
      height:auto;
      padding-bottom:0px;
      border-bottom:none;
    }
  }
 
  .module-item.active div.subject-item.active{
    height: auto;
  }

  .module-item div.subject-item.active{
    height: 0px;
  }

  .subject-item {
    padding: 18px 0px;
    border-bottom: 1px solid;
    overflow: hidden;
    cursor: pointer;

    div.progress {
      display: flex;

      span {
        width: 100%;
        margin-left: 10px;
        text-align: right;
      }
    }

    &.active {
      height: auto;
    }
  }

  .subject-item div.content-item{
    height: 36px;
  }

  .subject-item.active div.content-item.active{
    background: #64cddb;
  }

  .subject-item.active div.content-item.active .mat-checkbox-layout{
    background: #64cddb;
  }


  div.rating {
    padding: 10px 15px;
    text-align: right;
    line-height: 24px;

    .objective {
      color: #e6e6e6;
      font-size: 12px;
      text-align: left;
      line-height: 18px;
    }
  }

  div.badges {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #9afa00;
    font-weight: 500;

    img {
      margin-right: 7px;
      width: 50px;
    }
  }

  .no-border {
    border: none;
  }
}
