<div class="inner-content" >
  <div class="header" >
    <div>
      <h2>AVALIAÇÃO</h2>
      <p class="title" >
        {{ subject?.title }}
      </p>
    </div>

    <div>
      <p class="level" >
        Nível<br>
        <span *ngIf="levels">{{levels[question?.level]}}</span>
      </p>
    </div>
  </div>

  <div class="content notranslate" translate="no" [ngClass]="{ 'reviewing': reviewingConcept }" >
    <div class="answers" >
      <p class="number" >
        Questão
      </p>
      <p class="statement notranslate" translate="no"
        [innerHtml]="question.text | MarkdownToHtml"
      ></p>

      <app-exam-answer
        *ngFor="let answer of question?.answers"
        [answer]="answer"
        [selected]="selectedAnswer === answer"
        [confirmed]="answered"
        (selectAnswer)="setAnswer($event)"
      ></app-exam-answer>

      <br>
      <button class="btn-test"
        (click)="confirm()"
        [disabled]="!selectedAnswer"
        [ngClass]="{ 'answered': answered }"
      >
        {{ answered ? last ? 'Finalizar' : 'Próxima Pergunta' : 'Confirmar Resposta' }}
      </button>
    </div>
    <div class="concepts" *ngIf="question.concepts.length > 0">
      <p>Conceitos Abordados</p>
      <ul *ngIf="!selectedAnswer">
        <li class="concept"
          *ngFor="let concept of question.concepts"
          (click)="reviewConcept(concept)"
          [ngClass]="{ 'selected': reviewingConcept === concept }"
        >
          {{ concept }}
        </li>
      </ul>      
      <ul *ngIf="selectedAnswer">
          <li class="concept"
            *ngFor="let concept of selectedAnswer.concepts"
            (click)="reviewConcept(concept)"
            [ngClass]="{ 'selected': reviewingConcept === concept }"
          >
            {{ concept.concept }}
            <img *ngIf="answered && !concept.isRight"
              src="./assets/img/wrong-answer-colored.png"
            />
            <img *ngIf="answered && concept.isRight"
              src="./assets/img/right-answer-colored.png"
            />
          </li>
        </ul>
    </div>
  </div>

</div>
