
app-report-program-execution app-list-search {
  padding-left: 0px !important;

  input{
    font-size: 12px!important;
  }
}

.filters {
  width: 30%;
  border-right: 2px groove rgba(0, 0, 0, 0.12);
  height: 600px;
}

.table {
  margin-left: 20px;
  .title {
    border-bottom: 1px groove rgba(0, 0, 0, 0.12);

    h1 {
      margin-bottom: 15px;
    }
  }
}

.item {
  display: flex;
  border-bottom: 1px groove rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  margin: 10px 0;

  h2{
    font-size: 15px;
    color: var(--alternate-primary-color);
    margin: 0;
  }
  p {
    font-size: 22px;
    font-weight: 700;
    color:#7c7c7c;
  }
  span {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .files {
    margin-bottom: 10px;

    h2 {
      font-weight: 400;
    }
  }
}

.item:last-child {
  border: 0;
}

.buttonExcel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content{
  display: flex;
  min-height: calc(100vh - 180px);


  .side-content{
    h3 {
      margin-top: 3px;
    }
    flex: 1;
    border-right:2px groove rgba(0, 0, 0, 0.12);

    .filter {
      margin-right: 10px;
    }
  }
  .main-content{
    flex: 3;
  }
}