:host() {
  position: relative;
}

.event-card {
  width: 260px;
  height: 260px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  p.date {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 15px;
    font-size: 12px;
    margin-bottom: 5px;

    span {
      color: white;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    text-align: center;

    p.title {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    p.subtitle {
      font-size: 14px;
    }
  }

  p.requirements {
    position: absolute;
    z-index: 2;
    right: 45px;
    bottom: 15px;
    font-size: 16px;

    span {
      color: #2ce3fc;
      font-weight: 600;
    }
  }
}

.bg-shadow {
  background: rgba(0, 0, 0, 0.30);
  width: 260px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
