<div class="module-subject" >
  <div class="header" (click)="expanded = !expanded">
    <p>
      {{ subject.title }}<br>
      <small>{{ getSubjectDuration() }} minuto(s)</small>
    </p>
    <p>
      <span *ngIf="(levels && !(subjectProgress?.progress === '1'))">{{levels[subjectProgress?.level]}}</span>
      <small *ngIf="!(subjectProgress?.progress === '1') && (subjectProgress.level !== 4)">&nbsp;{{subjectProgress?.progress*100|number:'1.0-0'}}%</small>
      <span *ngIf="subjectProgress.level === 4">Expert</span>
    </p>
  </div>
  <div class="content" *ngIf="expanded" >
    <div class="level" >
      <p *ngIf="levels">
        <ng-container *ngIf="!reachedMaxLevel()" >
          <small>Nível necessário</small><br>
          {{levels[subjectProgress?.level]}} - {{subject.userProgresses[subjectProgress?.level]?.percentage*100|number:'1.0-0'}}%
        </ng-container>
      </p>
      <button class="btn-test"
        *ngIf="subject.hasQuestions"
        (click)="goToExam()"
        [saveAction]="getActionInfo('btn-testar-conhecimento')"
        [disabled]="!hasFinishedRequirements || reachedMaxLevel()" >
        {{
          reachedMaxLevel() ? 'Nível Máximo' :
            hasFinishedRequirements ? 'Testar meu Conhecimento' : 'Pré-requisitos Pendentes'
        }}
      </button>
    </div>
    <app-subject-content
      (click)="goToContent()"
      *ngFor="let content of subject.contents; let index = index"
      [moduleId]="moduleId"
      [subject]="subject"
      [index]="index"
      [subjectProgress]="subjectProgress"
      [hasFinishedRequirements]="hasFinishedRequirements"
    ></app-subject-content>
  </div>
</div>
<div class="expand"
  (click)="expanded = !expanded"
  [ngClass]="{ 'expanded' : expanded }"
>
  <span *ngIf=!expanded><i class="icon icon-seta_bx seta"></i></span>
  <span *ngIf=expanded><i class="icon icon-seta_cima seta"></i></span>
</div>
