div.students {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

  p.title {
    color: var(--primary-color);
    font-weight: 700;
    background: #f7f7f7;
    padding: 15px;
    font-size: 18px;
    &.space {
      display: flex;
      justify-content: space-between;
    }
  }
  .search-icon{
    color: var(--primary-color);
    position: absolute;
    padding-left: 5px;
  }
  .title-late {
    color: #ff4376;
    font-size: 10px;
    font-weight: normal;
    float: right;
  }
  .title-total {
    color: var(--primary-color);
    font-size: 10px;
    font-weight: normal;
    float: right;
    margin-left: 10px;
  }
  .search {
    flex: 1;
    position: relative;
    background: #f7f7f7;

    img {
      position: absolute;
      left: 10px;
      top: 0px;
      width: 16px;
      height: 16px;
    }    
    input {
      border: 0;
      border-bottom: 2px solid var(--primary-color);
      width: calc(100% - 40px);
      padding: 0px 0px 0px 20px;
      margin: 0px 10px;
      margin-bottom: 10px;
      font-size: 14px;
      background: transparent;
    }
  }
  p.no-students {
    padding: 15px;
  }
  ul {
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      margin: 0px 15px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #dedede;
      }

      img.photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 25px;
      }
      img.icon{
        margin-right:12px;
      }
      p.item-title {
        color: #727272;
        font-size: 14px;
        flex-grow: 1;
        text-transform: uppercase;
      }
      div.late {
        > div {
          width: 120px;
          color: #ff4376;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 12px;
  
          img {
            &.warn {
              width: 25px;
              height: 25px;
              margin-left: 10px;
              margin-right: 15px;
            }
          }
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  /deep/app-pagination .pagination {
    margin: 0;
    padding: 15px 0px;
  }
}
