.inner-content {
  padding: 20px 20px 60px 20px;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    margin: 20px 0px;

    img {
      margin-right: 4px;
    }
  }

  div.header {
    display: flex;

    .arrow-back {
      width: 30%;
    }
    .switch-content {
      width: 95%;
      display: grid;
      grid-template-columns: repeat(1);
      height: fit-content;
      border: 4px solid var(--primary-color);
      border-radius: 5px;

      .grid-cell {
        cursor: pointer;

        &.selected {
          background-color: var(--primary-color);
        }
      }
      
    }
  }

  div.content {
    display: flex;

    app-user-details-summary {
      width: 30%;
    }
    app-user-info,
    app-manage-user,
    app-user-details-progress,
    app-user-career,
    app-user-recommendation {
      width: 70%;
    }
  }
}

.path {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  margin: 20px 0px;
  height: 45px;
  font-size: 22px;

  p {
    margin: 0;
    display: flex;
    text-align: center;
  }

}

@media only screen and (max-width: 768px) {
  .inner-content {
    div.header {
      flex-direction: column;
  
      .arrow-back {
        width: 100%;
      }
      .switch-content {
        width: 100%;
      }
    }
    div.content {
      flex-direction: column;

      app-user-details-summary,
      app-user-info,
      app-user-details-progress,
      app-user-career,
      app-user-recommendation {
        width: 100%;
      }
    }
  }
}
